.form-inputs__row {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #ffffff80;
    padding: 5px 0;
    text-transform: uppercase;
    margin-bottom: 15px;
}
span.form-inputs__row-placeholder {
    font-size: 12px;
    margin: 5px 0;
}
span.form-inputs__value {
    font-size: 18px;
    font-weight: 500;
}
input.bonuses-input {
    border: none;
    font-size: 18px;
    padding: 10px 5px 0;
}
input.bonuses-input::placeholder{
    color: #ffffff!important;
    opacity: 0.6;
}

/* Chrome, Safari, Edge, Opera */
input.bonuses-input::-webkit-outer-spin-button,
input.bonuses-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.bonuses-input {
    -moz-appearance: textfield;
}

.form-inputs__row.bonuses-input {
    position: relative;
}
a.form-input-btn {
    /* width: max-content; */
    /* margin-left: auto; */
    text-transform: lowercase;
    color: white;
    font-weight: 500;
    position: absolute;
    right: 0;
    bottom: 7px;
}
a.form-input-btn:hover{
    color: white;
}
.form-input__error {
    font-size: 16px;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    align-items: center;
    justify-content: center;
    background: #00000080;
}
.popup__modal {
    padding: 50px 40px;
    background: white;
    color: black;
    position: relative;
}
.bonuses-modal__title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
.bonuses-modal__text {
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 20px;
}
.noUi-connect {
    background: #fc6120!important;
}
div#bonuses-slider {
    height: 5px;
    background: #d1d1d1;
    border: none;
    box-shadow: none
}
.noUi-handle.noUi-handle-lower {
    border-radius: 50%;
    height: 15px!important;
    width: 15px!important;
    background: #fc6120!important;
    box-shadow: none!important;
    border: none!important;
}
.noUi-handle:after, .noUi-handle:before{
    content: none!important;
}
.noUi-horizontal .noUi-handle{
    right: -10px!important;
}
.noUi-marker-horizontal.noUi-marker-large {
    height: 10px!important;
    background: #d1d1d1!important;
}
.noUi-marker-horizontal.noUi-marker {
    background: #d1d1d1!important;
}
.noUi-value.noUi-value-horizontal.noUi-value-large {
    color: #787878!important;
    font-size: 14px!important;
    font-weight: 600!important;
    top: 15px!important;
}
.bonuses-modal__slider {
    height: 60px;
}
.total-price-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    font-size: 22px;
}
.modal__closer {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    transition: 0.3s;
    transform:rotate(0deg);
    cursor:pointer;
}
.modal__closer:hover{
    transform:rotate(180deg);
}
.modal__closer svg{
    width: 100%;
    height: 100%;
}
.popup__modal{
    min-width: 500px;
}
div#modal__text {
    font-weight: 500;
    font-size: 22px;
}
@media screen and (max-width: 592px) {
    .popup-container {
        display: flex;
        align-items: flex-end;
        z-index: 100000;
    }
    .popup__modal {
        width: 100vw;
        min-width: unset;
    }
}

iframe#payment-iframe {
    width: 600px;
    height: 800px;
    border: none;
}
div#popup__payment-iframe {
    z-index: 10000;
}

@media screen and (max-height: 970px){
    iframe#payment-iframe {
        max-height: 90vh;
    }
}
@media screen and (max-width: 767px) {
    #popup__payment-iframe .popup__modal {
        height: 100%;
        width: 100%;
    }
    iframe#payment-iframe {
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    iframe#payment-iframe .popup__modal {
        padding: 50px 0 0;
    }
}