.b-page__main  {
	color: black;
}
.is-landing .b-screen:after {
	display: none;
}
.is-landing .b-breadcrumbs__link.is-current:hover {
	color: initial;
}
.is-landing {
	font-size: 24px;
	line-height: 36px;
}
.is-landing main.b-page__main {
	overflow: hidden;
}
.is-landing .b-screen.b-screen_short {
	min-height: 65px;
	margin-bottom: 10px;
	padding: 0;
}

.landing-title {
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 56px;
	line-height: 60px;
	margin-bottom: 48px;
}
.landing-description {
	display: block;
	position: relative;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 48px;
}

.b-abonements {
	display: block;
	position: relative;
	margin: 66px 0px 66px;
	max-width: 100vw;
}
.b-abonements .slick-slider {
	margin-left: -8px;
	margin-right: -8px;
}

.is-landing .b-cards-slider__arrow::before,
.is-landing .b-cards-slider__arrow::after {
	height: 4px;
}
.is-landing .b-cards-slider__arrow.b-cards-slider__arrow--right::before,
.is-landing .b-cards-slider__arrow.b-cards-slider__arrow--right::after {
	background: linear-gradient(45deg, #E43932 3.26%, #7827F6 98.07%);
}
.is-landing .b-cards-slider__arrow.b-cards-slider__arrow--left::before,
.is-landing .b-cards-slider__arrow.b-cards-slider__arrow--left::after {
	background: linear-gradient(45deg, #7827F6 3.26%, #E43932 98.07%);
}
.is-landing .b-cards-slider__arrow-wrapper--right {
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 100%);
}
.is-landing .b-cards-slider__arrow-wrapper--left {
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 92%, rgba(255,255,255,0) 100%);
}
.is-landing .b-cards-slider__arrow-wrapper:hover {
	background-color: transparent;
}
.is-landing .b-cards-slider__arrow::after {
	bottom: 12px;
}
.blockitem {
	margin-bottom: 96px;
}
.is-landing a.b-top-menu__abonement-btn {
	line-height: 13px;
}
.is-landing a.personal-btn {
	line-height: 18px;
}

/* Форма */
.is-landing .b-form {
	display: block;
	position: relative;
	background: #171717;
	color: #FFF;
}
.b-form .landing-title {
	text-align: center;
	padding-top: 76px;
	margin-bottom: 60px;
}
.b-form .landing-title b {
	background: linear-gradient(90deg, #E33932 3.67%, #7827F5 105.05%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.b-form > .content-center {
	margin-bottom: 0;
}
.b-form .form-standart_black-bg .form-standart__plate {
	border: 0;
	padding: 35px 8% 100px;
}
.b-form .form-request-new__buttons {
	text-align: right;
}
.b-form .b-checkbox__text:before,
.b-form .b-radio__text:before {
	background: linear-gradient(180deg, #E33933 0%, #7A27F2 100%);
	border-radius: 4px;
}
.b-form .b-checkbox__input:checked+.b-checkbox__text:before,
.b-form .b-radio__input:checked+.b-checkbox__text:before,
.b-form .b-checkbox__input:checked+.b-radio__text:before,
.b-form .b-radio__input:checked+.b-radio__text:before {
	box-shadow: inset #fff 0 0 0 4px;
}

.b-form .button-outline {
	border: 0;
	background: linear-gradient(90deg, #E43932 3.26%, #7827F6 98.07%);
	border-radius: 8px;
	font-size: 14px;
	line-height: 1;
	transition: all .3s;
}
.b-form .button-outline:hover {
	background: linear-gradient(90deg, #E43932 23.26%, #7827F6 98.07%);
}
.b-form .form-standart {
	border-bottom: 1px solid #ff7628;
}
/* Форма */

@media screen and (max-width: 1024px) {
	.b-form .landing-title {
		padding-top: 32px;
	}
	.landing-title,
	.b-form .landing-title {
		font-size: 36px;
		line-height: 40px;
	}
	.landing-description,
	.is-landing {
		font-size: 20px;
		line-height: 28px;
	}
	.b-form .landing-title {
		margin-bottom: 0;
	}
	.b-form .form-standart_black-bg .form-standart__plate {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.b-form .form-request-new__fields-list {
		margin: 32px 0 25px;
	}
	.is-landing .b-screen.b-screen_short {
		min-height: 32px;
	}
}
@media screen and (max-width: 768px) {
	.landing-title,
	.b-form .landing-title {
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 25px;
	}
}