/bitrix
/upload
*DS_Store
.viminfo
.vim
/.idea
.mysql_history
.mysql_history.TMP
/.pki
sitemap*.xml
sitemap.xml
*.htaccess
.htsecure
.htaccess_old
.htpasswd
*.log
*.tgz.*
*.tar.*
*.gz
*.txt
*.xlsx
*.csv
*.xls
*.zip
*.rar
/*.html
Thumbs.db
*.sql
*.csv
*.air
restore.php
log.txt
.htaccess.restore
.bash_history
.gitconfig
.htaccess
web.config
/test2
*test*
/uploads
.cache
/logs
/old
/video
/js
*.mp4
/media
/var