/bitrix
/upload
*DS_Store
.viminfo
.vim
/.idea
.mysql_history
.mysql_history.TMP
/.pki
sitemap*.xml
sitemap.xml
*.htaccess
.htsecure
.htaccess_old
.htpasswd
*.log
*.tgz.*
*.tar.*
*.gz
*.txt
*.xlsx
*.csv
*.xls
*.zip
*.rar
/*.html
Thumbs.db
*.sql
*.air
restore.php
log.txt
.htaccess.restore
.bash_history
.gitconfig
.htaccess
web.config
/test2
*test*
!fitnes-testirovanie
/uploads
.cache
/logs
/old
/video
/js
*.mp4
/media
/var
bitbucket-pipelines.yml
/.cache/
/.catalog/
/.prokachai-sebya-na-5000000/
/.prokachay/
/.schedule/
/.stock/
/.traid-in/
/.video-on-demand/
/.git_old/
adminer-4.8.0-mysql.php
robots.txt
.robots.txt
google4e6a1eff3ac2facf.html
googlea7fee3bcad4817b8.html
*.pdf
#/local/templates/spiritfit-v2-ab/
/local/php_interface/migrations.archive/
/feeds/