.b-screen:after{
    content:none;
}
body{
    /*background: #171717!important;*/
    overflow-x: hidden;
}
.page-hiden-slider__header{
    margin-top:60px;
    margin-bottom: 80px;
}
section.page-white-description {
    background: white;
    color: black;
    padding: 80px 0;
    line-height: 1.5em;
    /* margin-bottom: 50px; */
}
section.page-black-description {
    padding: 80px 0;
    line-height: 1.5em;
    /* margin-bottom: 50px; */
}
.page-white-description div{
    margin-bottom: 20px;
}
.page-white-description ul {
    display: block;
    position: relative;
    list-style: none;
    margin: 10px 0px;
    padding-left: 50px;
}
.page-white-description ul > li {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding-left: 18px;
    margin-bottom: 2px;
}
.page-white-description ul > li:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FC6120;
}
.page-white-description b {
    font-weight: 600;
}
.page-white-description li{
    margin: 10px 0;
}
.page-white-description ol li {
    padding-left: 20px;
}
.page-white-description a{
    font-weight: 500;
}
.page-white-description .desc__block {
    margin-bottom: 50px !important;
}
.desc__block:last-child{
    margin-bottom: 0!important;
}
.desc__block__text {
    margin-bottom: 80px!important;
}
.desc__block__text:last-child{
    margin-bottom: 0!important;
}
.desck-blog__big-text {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 80px!important;
}
.desc__block ol{
    list-style: auto;
    padding-left: 20px
}
.desc__block h2{
    line-height: 1.5;
}
@media screen and (max-width: 996px) {
    section.page-white-description {
        padding: 0;
        padding-bottom: 80px;
    }
    .page-desc-short {
        padding: 0;
        background: unset;
        color: white;
        text-align: inherit;
    }
}
@media screen and (max-width: 496px) {
    .page-white-description ul{
        padding-left: 20px;
    }
    .desc__block h2 {
        font-size: 24px;
    }
    .page-desc-short {
        margin:0 -25px!important;
        width: calc(100% + 50px)!important;
        padding: 50px 20px!important;

    }
    .page-desc-short__text{
        /*font-weight: 100!important;*/
        font-size: 16px!important;
    }
    .page-desc-banner{
        margin:0 -25px!important;
        margin-top:-35px!important;
        width: calc(100% + 50px)!important;
    }
    .page-hiden-slider__header{
        z-index: 1!important;
        margin-bottom: 0!important;
    }
}

.page-desc-short {
    background: white;
    color: black;
    z-index: 19;
    width: 45%;
    height: max-content;
    margin: auto;
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: -15px;
    text-align: center;
    padding: 50px;
}
.page-desc-short__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
}

@media screen and (max-width: 1024px) {
    .page-hiden-slider__header {
        display: flex;
        flex-direction: column-reverse;
    }
    .page-desc-short {
        position: static;
        width: 100%;
    }
    .page-desc-banner {
        width: 100%;
        max-width: unset!important;
    }
    .page-hiden-slider__header{
        margin-top:0;
    }
}