


/*Шапка*/
.b-main.blockitem {
    margin-bottom: 0;
    background: linear-gradient(270deg, #E3E3E3 0%, #C4C4C4 67.92%, #E2E2E2 100%);
}

.b-main__banner {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background-position: 80px 100%;
    background-color: #d7d7d7;
    background-repeat: no-repeat;
    background-size: 30%;
    display: flex;
    align-items: center;
    background-image:var(--interview-background)
}

.b-main__banner-content {
    padding-left: 45%;
    padding-right: 10%;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    box-sizing: border-box;
}
.b-main__banner-button {
    margin-top: 50px;
}
.b-main__banner-title {
    display: block;
    position: relative;
    margin: 40px 0px;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    background: linear-gradient(90deg, #E03838 3.26%, #7B27EF 98.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.b-main__banner-button.is-hide-mobile {
    margin-top: 40px;
}

.b-interview__progress-success {
    height: 100%;
    background: #e43932;
    transition: width 0.3s;
    width: 0;
}


.b-interview__question {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.interview-form-box {
    width: 900px;
    margin: auto;
}
.b-interview__progress {
    height: 10px;
    background-color: #7f4790;
    position: sticky;
    top: 107px;
}
.b-interview__question-content{
    width: 100%;
    padding: 100px 0 120px;
}
h3.b-question__title {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 50px;
}
span.starrequired {
    background-color: #7f4790;
    background-image: linear-gradient(90deg, #E43932 3.26%, #7827F6 98.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.b-question__answers.stars-item_question {
    display: flex;
    justify-content: center;
    max-width: 500px;
    flex-wrap: wrap;
    margin: auto;
}
.stars-item {
    overflow: hidden;
    position: relative;
}
span.star-item__text {
    position: absolute;
    width: 83px;
    top: 39px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.stars-item:not(:checked) > input {
    display: none;
}
.stars-item:not(:checked) > label {
    float: right;
    width: 100px;
    padding: 0;
    cursor: pointer;
    font-size: 100px;
    line-height: 100px;
    background-color: #7f479087;
    background-image: linear-gradient(90deg, #e439327a 3.26%, #7827f600 98.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.stars-item:not(:checked) > label:before {
    content: '★';
}
.stars-item.active > label{
    background-color: #7f4790;
    background-image: linear-gradient(90deg, #E43932 3.26%, #7827F6 98.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.b-question__go-next {
    position: absolute;
    bottom: 50px;
    width: 100%;
}
.b-question__go-next .button {
    margin: auto;
    display: block;
    width: max-content;
}
.b-question__answer-item.radio-item {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 0;
    transition: 0.3s;
}
input.radio-item{
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}
.b-question__answer-item label{
    display: block;
    width: 100%;
    cursor: pointer;
    font-weight: 700;
}
.b-question__answer-item.radio-item.select {
    background: linear-gradient(90deg, #E43932 3.26%, #7827F6 98.07%);
    color: white;
}
.b-question__answers.radio-item_question {
    max-height: 50vh;
    overflow: auto;
}
.b-question__answer-item.checkbox-item {
    /* margin: 40px 0; */
    padding: 20px 20px;
    border: 1px solid #00000080;
    border-radius: 5px;
    margin: 10px 0;
}
input.text-item {
    font-size: 22px;
    font-weight: bold;
    padding: 0;
}
.interview__result {

    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
}
.interview__result-container{
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.interview__promocode {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 50px 0;
    line-height: 70px;
    background: linear-gradient(90deg, #E03838 3.26%, #7B27EF 98.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.question-media{
    width: 100%;
    margin-bottom: 20px;
}
.question-media__item {
    margin: auto;
    display: block;
    max-height: 600px;
}
.question-media__item img{
    max-height: 600px;
    margin:auto;
    max-width: 100%;
    display: block;
}
.question-media__item.video {
    max-width: 100%;
    background: none;
    padding: 0;
    max-height: 600px;
    margin:auto!important;
    display: block;
}
.media-content__title {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #444444;
}
.question-media-multiple__slide {
    margin: 0 10px;
    max-width: 900px;
    height: 600px!important;
    display: flex!important;
}
.b-cards-slider__arrow::before, .b-cards-slider__arrow::after{
    background: linear-gradient(45deg, #E43932 3.26%, #7827F6 98.07%)!important;

}
.b-cards-slider__arrow:hover::before, .b-cards-slider__arrow:hover::after{
    box-shadow: 0 0 20px 8px #0000005c;
}
.b-cards-slider__arrow-wrapper:hover{
    background:none;
    background-color:transparent!important;
}
.b-cards-slider__arrow:hover{
    box-shadow: inset 0 0 0 0 black;
}
@media screen and (max-width: 1440px){
    .b-cards-slider__arrow-wrapper--right {
        right: 0px!important;
    }
    .b-cards-slider__arrow-wrapper--left{
        left:0!important;
    }
}
@media screen and (max-width: 964px) {
    .b-cards-slider__arrow-wrapper--right {
        right: 15px!important;
    }
    .b-cards-slider__arrow-wrapper--left{
        left:15px!important;
    }
    .question-media-multiple__slide{
        max-width: calc(100vw - 48px);
    }
}

@media screen and (max-width: 800px) {
    .b-main__banner-content {
        font-size: 16px;
        line-height: 20px;
    }
    .b-main__banner-title {
        font-size: 28px;
        line-height: 30px;
        margin: 20px 0;
    }
    .b-main__banner-button {
        margin-top: 50px;
    }
}
@media screen and (max-width: 768px){
    .b-main__banner{
        background-image: none!important;
    }
    .b-main__banner:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--interview-background);
        filter: opacity(0.1);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }
    .b-main__banner-content {
        z-index: 10;
        padding: 0 10%;
    }
    .b-main__banner-button {
        text-align: center;
    }
}

@media screen and (max-width: 960px) {
    .interview-form-box {
        width: 100%;
    }
    h3.b-question__title {
        text-align: center;
    }
}
@media screen and (max-width: 768px){

    h3.b-question__title {
        font-size: 35px;
    }
    .interview__result {
        font-size: 30px;
        line-height: 30px;
    }
    span.interview__result-promocode {
        font-size: 20px;
    }
    .interview__promocode {
        font-size: 50px;
    }
}
@media screen and (max-width: 554px) {
    .stars-item:not(:checked) > label{
        width: 65px;
        font-size: 65px;
    }
    span.star-item__text {
        width: 54px;
        font-size: 18px;
        top: 37px;
    }
    /*.b-cards-slider__arrow-wrapper {*/
    /*    display: none!important;*/
    /*}*/
    .b-cards-slider__arrow-wrapper--right{
        right: 30px!important;
    }
    .b-cards-slider__arrow-wrapper--left{
        left:30px!important;
    }
    .b-cards-slider__arrow-wrapper.slick-arrow {
        height: 100px;
    }
}
@media screen and (max-width: 492px){

    .b-question__answers.radio-item_question{
        max-height: 40vh;
    }
    .b-question__answer-item label{
        font-size: 20px;
    }
    h3.b-question__title {
        font-size: 28px;
    }
}