/*DATEPICKER*/
.datepicker-container {
    background: #171717!important;
    padding: 10px!important;
}
.datepicker-panel>ul>li {
    background-color: #171717!important;
}
.datepicker-panel>ul>li:hover{
    background-color: white!important;
    color:#171717!important;
}
.datepicker-panel>ul[data-view=week]>li,
.datepicker-panel>ul[data-view=week]>li:hover {
    background-color: #171717!important;
    color:#FC6120!important;
    cursor: default!important;
}
.datepicker-panel>ul>li.picked, .datepicker-panel>ul>li.picked:hover {
    color: black!important;
    background-color: #FC6120!important;
}
.datepicker-panel>ul>li.highlighted {
    background-color: #171717!important;
    color:white!important;
}
.datepicker-dropdown{
    border: none!important;
    -webkit-box-shadow: 0 3px 6px #000 !important;
    box-shadow: 0 3px 6px #000 !important;
}
.datepicker-top-left:after, .datepicker-top-right:after {
    border-bottom-color: #171717!important;
}
.datepicker-top-left:before, .datepicker-top-right:before {
    border-bottom-color: #171717!important;
}
.datepicker-top-left, .datepicker-top-right {
    border-top-color: #000000!important;
}
/*DATEPICKER*/


/*CONTENT BLOCK*/
.personal-profile-block {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    padding-bottom: 80px;
}
/*CONTENT BLOCK*/


/*LEFT BLOCK*/
.personal-profile__left-block {
    width: 30%;
    max-width: 400px;
}
.personal-profile__tabs:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 75px);
    border-right: 1px solid #FC6120;
    z-index: -1;
}
.personal-profile__tabs:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: calc(100% + 25px);
    border-bottom: 1px solid #FC6120;
    /* padding: 10px 0; */
    margin-left: 40%;
    z-index: -1;
}
.personal-profile__tab-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 30px 0;
    cursor: pointer;
}
.personal-profile__tab-item.active{
    color:#FC6120;
}
.personal-profile__tab-item.active .tab-item__icon svg{
    fill:#FC6120;
}
.tab-item__icon {
    height: 24px;
    width: 24px;
    margin-right: 15px;
}
.tab-item__icon svg{
    fill: white;
    width: 24px;
    height: 24px;
}
.tab-item__name {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.tab-item__notification{
    background-image:url('/local/templates/spiritfit-v2/img/icons/personal-section-notification.white.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 10px;
    height: 15px;
    transform: translate(4px, -6px);
    position: relative;
    display: inline-block;
}
.tab-item__notification-count {
    position: absolute;
    bottom: 0;
    right: -10px;
    font-size: 10px;
    border-radius: 50%;
    background-color: #fc6120;
    color: white;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.personal-section-form__item__notification {
    font-size: 11px;
}
/*LEFT BLOCK*/

/*USER BLOCK*/
.personal-profile__user {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.personal-profile__user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #FC6120;
    position: relative;
    overflow: hidden;
}
.personal-profile__user-refresh-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fc6120a3;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: translateY(100px) scale(0);
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.personal-profile__user-photo img:hover + .personal-profile__user-refresh-photo,
.personal-profile__user-refresh-photo:hover{
    transform: translateY(0px) scale(1.0);
}
.personal-profile__user-refresh-photo svg{
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s;
    transform: rotate(0deg) scale(1.0);
}
.personal-profile__user-refresh-photo svg:hover{
    transform: rotate(180deg) scale(1.2);
}
input.personal-profile__user-refresh-photo-file-input {
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 0;
}
.personal-profile__user-result {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* text-decoration-line: underline; */
    color: #FFFFFF;
    opacity: 0.5;
    text-align: center;
}
.personal-profile__user-photo img{
    border-radius: 50%;
    object-fit: cover;
}
.personal-profile__user-head-item{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.personal-profile__user-head-items {
    margin-left: 20px;
}
/*USER BLOCK*/


/*SECTION BLOCK*/
.personal-profile__center-block {
    margin-left: 150px;
    width: 40%;
    max-width: 500px;
}
.personal-section__title {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: #FFFFFF;
    height: 100px;
}
.personal-section-form__item {
    border: 1px solid #fc612042;
    box-sizing: border-box;
    padding: 5px 20px;
    margin: 20px 0;
    position:relative;
}
.personal-section-form__item-placeholder {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FC6120;
}
input.personal-section-form__item-value {
    padding: 0;
    border: none;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 100%;
}
.old-sum{
    display: flex;
    align-items: baseline;
}
.old-sum s{
    margin-right: 10px;
    width: 40px;
}
.old-sum input{
    width: calc(100% - 50px);
}
input.personal-section-form__item-value.half-width{
    width: 50%!important;
    display: inline-block;
    float: right;
}
.field-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}
.personal-section-form__item.field-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sub-section__arrow-icon svg {
    width: 100%;
    height: 100%;
    fill: white;
}
.sub-section__arrow-icon {
    width: 24px;
    height: 24px;
    transition: 0.3s;
    transform: rotate(0deg);
}
.personal-profile__tab-item.child.active .sub-section__arrow-icon{
    transform: rotate(180deg);
}
.personal-profile__tab-item.child.active svg{
    fill:#FC6120
}
.sub-section__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.personal-profile__tab-item.child {
    margin-bottom: 0;
    /*border-bottom: 1px solid #ff76285e;*/
    padding-bottom: 5px;
}
a.confirm-email-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    font-weight: 600;
}

.visits-count-container {
    width: 20%;
    display: inline-flex;
    text-align: center;
    flex: 0 0 20%;
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
}
.visits-count__block {
    height: 90px;
    background: #00000082;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: end;
    display: grid;
    position: relative;
    width: 100%;
}
.visits-count__occupancy {
    padding: 5px 0;
    /* background: white; */
    border-radius: 10px;
    font-weight: 600;
    min-height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fc6120;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.visits-count__month {
    font-weight: 500;
}
.personal-section__visits_count {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    position: relative;
    margin-top: 10px;
}
.personal-section__visits_count::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    cursor: default;
}
.personal-section__visits_count::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
    cursor: default;
}
.personal-section__visits_count::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #FC6120;
    cursor: default;
}
.personal-section__visits_count-container {
    position: relative;
    padding: 0 20px;
}
.personal-section__visits_count-controllers {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
}
.visits-count__controller {
    top: 40%;
    width: 20px;
    height: 30px;
    position: absolute;
    cursor: pointer;
}
.visits-count__controller.left{
    left: -20px;
}
.visits-count__controller.left:before {
    content: '';
    transform: rotate(-45deg);
    top: 7px;
    /* top: 50%; */
    height: 3px;
    width: 20px;
    background-color: #ff7628;
    position: absolute;
    left: 0;
}
.visits-count__controller.left:after {
    content: '';
    transform: rotate(45deg);
    left: 0;
    bottom: 7px;
    height: 3px;
    width: 20px;
    background-color: #ff7628;
    position: absolute;
}
.visits-count__controller.right {
    right: -20px;
}
.visits-count__controller.right:before {
    content: '';
    transform: rotate(-135deg);
    top: 7px;
    /* top: 50%; */
    height: 3px;
    width: 20px;
    background-color: #ff7628;
    position: absolute;
    right: 0;
}
.visits-count__controller.right:after {
    content: '';
    transform: rotate(135deg);
    right: 0;
    bottom: 7px;
    height: 3px;
    width: 20px;
    background-color: #ff7628;
    position: absolute;
}
@media screen and (max-width: 768px){
    .personal-section__visits_count-container {
        padding: 0 30px;
    }
    .visits-count__controller.left {
        left: -10px;
    }
    .visits-count__controller.right {
        right: -10px;
    }
    .visits-count-container {
        width: 25%;
        flex: 0 0 25%;
        padding: 0 10px;
    }
    .visits-count__month {
        font-weight: 400;
        font-size: 11px;
    }
}
/*SECTION BLOCK*/

/*INPUTS*/
.personal-section-form__item.radio-item {
    border: none;
}
.radio-item input.personal-section-form__item-value{
    width: 24px;
    height: 24px;
}
.radio-item label{
    float: none;
    width: auto;
    padding: 0;
}
.input-radio-item-block {
    width: 49%;
    display: inline-flex;
    /* border-collapse: collapse; */
    /* vertical-align: middle; */
    align-items: center;
    justify-content: flex-start;
}
.input-radio-btn{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.input-radio-btn+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.input-radio-btn+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #FC6120;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
/* стили при наведении курсора на радио */
.input-radio-btn:not(:disabled):not(:checked)+label:hover::before {
    border-color: #FC6120;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.input-radio-btn:not(:disabled):active+label::before {
    background-color: #FC6120;
    border-color: #FC6120;
}
/* стили для радиокнопки, находящейся в фокусе */
.input-radio-btn:focus+label::before {
    box-shadow: 0 0 0 0.2rem #8a2b00;
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.input-radio-btn:focus:not(:checked)+label::before {
    border-color: #FC6120;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.input-radio-btn:checked+label::before {
    border-color: #FC6120;
    background-color: #FC6120;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.input-radio-btn:disabled:not(:checked)+label::before {
    background-color: transparent;
    border: 2px solid #FC6120;
}

.passwd-input{
    width: calc(100% - 30px) !important;
    display: inline-block!important;
}
.show-password-icon{
    width: 24px;
    height: 24px;
    display: inline-block;
}
.show-password-icon div{
    display: none;
    cursor: pointer;
}
.show-password-icon div.active{
    display: block;
}
.show-password-icon svg{
    width: 24px;
    height: 24px;
    fill:#FC6120
}

.personal-section-form__submit{
    width: 100%;
    border-color: #fc612042;
    margin-top: 30px;
    color:white!important;
}

.personal-section-form__item.table-item {
    border: none;
    border-bottom: 1px solid #fc612042!important;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0px;
    margin: 0;
}
.table-item .personal-section-form__item-placeholder {
    /* width: 2000px; */
    font-family: 'Gotham Pro';
    font-style: normal!important;
    font-weight: 500!important;
    font-size: 20px!important;
    line-height: 32px!important;
    color: #FFFFFF!important;
    width: 60%!important;
    opacity: 1!important;
    /* border-right: 1px solid; */
}
.table-item input.personal-section-form__item-value {
    width: 40%;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
    border-left: 1px solid #fc612042;
    text-align: center;
    padding: 10px 0;
}

.personal-section-form__item.readonly-item {
    border: none;
    padding: 0;
}
.readonly-item .personal-section-form__item-placeholder {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    /*opacity: 0.5;*/
}
.readonly-item .personal-section-form__item-value {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

.personal-section-form__item.checkbox-item {
    border: none;
}
.checkbox-item .personal-section-form__item-value {
    width: auto;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.personal-section-form__item.link-item{
    font-weight: 600; cursor: pointer;
    width: max-content;;
}

.checkbox-item label {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    width: auto;
    padding: 0;
    float: none;
}
/* для элемента label, связанного с .custom-checkbox */
.checkbox-item input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
/* создание в label псевдоэлемента before со следующими стилями */
.checkbox-item input+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #FC6120;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
/* стили при наведении курсора на checkbox */
.checkbox-item input:not(:disabled):not(:checked)+label:hover::before {
    border-color: #FC6120;
}
/* стили для активного чекбокса (при нажатии на него) */
.checkbox-item input:not(:disabled):active+label::before {
    background-color: #FC6120;
    border-color: rgba(252, 97, 32, 0.56);
}
/* стили для чекбокса, находящегося в фокусе */
.checkbox-item input:focus+label::before {
    box-shadow: 0 0 0 0.2rem #FC6120;
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox-item input:focus:not(:checked)+label::before {
    border-color: rgba(252, 97, 32, 0.47);
}
/* стили для чекбокса, находящегося в состоянии checked */
.checkbox-item input:checked+label::before {
    border-color: #FC6120;
    background-color: #FC6120;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox-item input:disabled+label::before {
    background-color: #FC6120;
}

.select2-container--default .select2-selection--single {
    border-bottom: none!important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0!important;
}
.personal-section-form__item.select-item {
    /*border: none;*/
    padding: 0;
    border: 1px solid #fc612042;
    padding-top: 5px;
}
span.select2-selection.select2-selection--single {
    padding-left: 20px;
}
.select-item .personal-section-form__item-placeholder{
    padding-left: 20px;
}
.select2-container--open .select2-dropdown {
    box-shadow: -1px -1px 20px 2px black;
}

.resend-icon{
    height: 24px;
    width: 24px;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    transition: transform 0.5s;
    transform: rotate(0deg);
}
.resend-icon:hover{
    transform:rotate(180deg);
}
.resend-icon svg{
    width: 24px;
    height: 24px;
    fill: #FC6120;
}
input.reg_code{
    width: calc(100% - 30px) !important;
    display: inline-block!important;
}
.clue-icon {
    height: 10px;
    width: 10px;
    display: inline-block;
    opacity: 1;
    transform: translateY(-8px);
}
.clue-icon svg {
    height: 100%;
    width: 100%;
    fill: #FC6120;
}
.personal-section-form__item-value.textarea {
    width: 100%;
    height: 100px;
    border: none;
    padding: 0;
    resize: none;
}
.personal-section-form__item-value.textarea::-webkit-scrollbar {
    width: 5px;
    cursor: default;
}
.personal-section-form__item-value.textarea::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
    cursor: default;
}
.personal-section-form__item-value.textarea::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #FC6120;
    cursor: default;
}

span.field-error {
    font-size: 12px;
    color: #fc6120;
}
.list-item__body {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.list-item__body::-webkit-scrollbar {
    width: 5px;
    cursor: default;
}
.list-item__body::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
    cursor: default;
}
.list-item__body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #FC6120;
    cursor: default;
}
.list-item__body input{
    font-size:18px!important;
}
.personal-section-form__item a{
    max-width: 300px;
    display: block;
}
.personal-section-form__item-value.textarea::placeholder{
    color: #7c7c7c;
}
/*INPUTS*/


/*TOOLTIPS*/
.tooltip-form{
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.tooltip-form-title {
    font-size: 20px;
    color: #ff7628;
    font-weight: 500;
}

input.tooltip-form-input {
    margin: 20px 0 0 0;
    border-bottom: 1px solid #fc6120;
    box-sizing: border-box;
    padding: 5px 10px;
}

input.tooltip-form-submit:hover{
    background: #ff7628;
}
.tippy-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000008a;
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
}

.tippy-background.active {
    z-index: 100;
    opacity: 1;
}
input.tooltip-form-submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background: none;
    color: white;
    border: 1px solid #ff7628;
    transition: 0.5s;
    text-transform: lowercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
}
.tooltip-form .form-submit-result-text{
    width: 100%;
}
.tooltip-form-body-text {
    margin-top: 10px;
    font-size: 13px;
}
span.bold {
    font-weight: bold;
    letter-spacing: 2px;
}
/*TOOLTIPS*/

/*FORM RESULT*/
.form-submit-result-text {
    margin-top: 20px;
    color: #fc6120;
    opacity: 0;
    transition: opacity 0.5s;
}
.form-submit-result-text.active{
    opacity: 1;
}
.form-submit-result-text a{
    font-size: 18px;
    text-decoration: underline;
}
span.field-message {
    font-size: 12px;
}
/*FORM RESULT*/

/*AUTOFILL*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}
/*AUTOFILL*/

.show-all-section-icon.is-hide-desktop {
    display: none;
}


/*ONSOMEPAGE*/
.personal-onpage{
    transform: rotate(90deg);
    width: 300px;
    position: fixed;
    top: calc(50% - 32.5px);
    left: -200px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000e6;
    z-index: 1000;
}
span.onpage-btn{
    color: #ff7628;
    text-decoration: none;
    transition: color .2s ease 0s;
    cursor: pointer;
}
/*ONSOMEPAGE*/

/*LOADING*/
.escapingBallG-animation{
    position: relative;
    width: 125px;
    height: 43px;
    /* margin: auto; */
    display: none;
    margin: -42px auto 0;
    opacity:0;
    transition: opacity 0.3s;
    z-index:2;
}

.escapingBallG-animation.active{
    display: block;
    opacity: 1;

}

.escapingBallG{
    background-color: #FC6120;
    position:absolute;
    top:0;
    left:0;
    width:30px;
    height:30px;
    border-radius:21px;
    -o-border-radius:21px;
    -ms-border-radius:21px;
    -webkit-border-radius:21px;
    -moz-border-radius:21px;
    animation-name:bounce_escapingBallG;
    -o-animation-name:bounce_escapingBallG;
    -ms-animation-name:bounce_escapingBallG;
    -webkit-animation-name:bounce_escapingBallG;
    -moz-animation-name:bounce_escapingBallG;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-timing-function:linear;
    -o-animation-timing-function:linear;
    -ms-animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
    -moz-animation-timing-function:linear;
    animation-delay:0s;
    -o-animation-delay:0s;
    -ms-animation-delay:0s;
    -webkit-animation-delay:0s;
    -moz-animation-delay:0s;
    transform:scale(0.5, 1);
    -o-transform:scale(0.5, 1);
    -ms-transform:scale(0.5, 1);
    -webkit-transform:scale(0.5, 1);
    -moz-transform:scale(0.5, 1);
}




/*LOADING*/



/*MEDIA SCREEN*/
@media screen and (max-width: 768px) {
    .personal-profile-block {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }
    .personal-profile__left-block {
        width: 100%;
    }
    .personal-profile__center-block {
        margin: 0!important;
        width: 100%;
        max-width: 400px;
    }
    .personal-profile__user {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .personal-profile__tab-item.active {
        display: flex!important;
    }
    .personal-profile__tab-item:not(.child) {
        display: none;
    }
    .personal-profile__tab-item[style*='display: block']{
        display: flex !important;
    }
    .show-all-section-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 3px;
        right: 0;
        display: flex!important;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        transition: transform 0.5s;
        transform: rotate(0deg);
    }
    .show-all-section-icon svg{
        fill: white;
        width: 20px;
        height: 20px;
    }

    .show-all-section-icon.active{
        transform: rotate(180deg);
    }
    .show-all-section-icon.active svg{
        fill: #fc6120;
    }
    .tab-item__name{
        font-size: 20px;
    }
    .personal-profile__user-photo{
        width: 250px;
        height: 250px;
    }
    .personal-profile__user {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .personal-profile__user-head-items {
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
    }

    .personal-profile__tabs:before {
        margin-left:calc(20% + 20px);
        width: 80%;
    }
    .auth-page .personal-profile__tabs:after{
        display: none;
    }

    .personal-profile-block.auth-page{
        margin-top: 0;
    }
    .auth-page .personal-section__title{
        display: none;
    }
}
/*MEDIA SCREEN*/

/*SCROLLBAR*/
.personal-profile-block *::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    cursor: default;
}
.personal-profile-block *::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
    cursor: default;
}
.personal-profile-block *::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #FC6120;
    cursor: default;
}
/**/


/*SPIRITNET*/
.spiritnet-menu .tab-item__name{
    font-size: 22px;
}
.spiritnet-btn.active .tab-item__name{
    color:white;
    font-weight: 900;
}
/*SPIRITNET*/


.personal-section-form__item-value.file-input {
    display: none;
}
.file-input__dropzone {
    width: 100%;
    height: 150px;
    /*background: #ffffff0d;*/
    border-radius: 5px;
    /*border: 2px dashed #fc6120;*/
}
.file-input__btn {
    margin: auto;
    display: block;
    width: 100%;
    color: #7c7c7c;
    font-weight: 700;
    text-align: center;
}
.file-input__btn .btn-trigger {
    width: 80px;
    height: 80px;
    margin: 10px auto;
    color: black;
    cursor: pointer;
}
.file-input__btn .btn-trigger:hover {
    color: #fc6120;
}
.btn-trigger svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    transition: 0.1s;
}
.personal-media_preview__item.image {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    margin: 10px 0;
}
.file-input__preview .closer-small {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closer-small:hover{
    transform:rotate(180deg);
}
.closer-small svg {
    width: 100%;
    height: 100%;
    fill: #fc6120;
}