.b-screen:after{
    content: none!important;
}
.contacts-block {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.contact-item {
    flex: 0 0 auto;
    width: calc(25% - 30px);
    /* padding: 15px; */
    margin-right: 30px;
}
.contact-line {
    width: 70px;
    height: 5px;
    background: #ff7628;
    display: block;
    margin-bottom: 5px;
    transition: 0.5s;
}
.contact-block{
    width: max-content;
}
.contact-block:hover .contact-line{
    width: 100px;
}
.contact-item__title {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.contact-item__phone {
    font-weight: 100;
    text-decoration: underline;
    text-decoration-style: solid;
}
.contact-item__email {
    text-transform: lowercase;
}
.contact-body__block {
    padding: 5px 0;
}
