.reviews-slider {
	margin-left: -25px;
    margin-right: -25px;
	z-index: 1;
}
.reviews-slider-item {
	position: relative;
	box-sizing: border-box;
	padding: 40px 25px 0px;
}
.reviews-slider-item:after {
	content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 120px;
    background-color: #FF7628;
    right: 0;
    top: calc(50% - 40px);
}
.reviews-slider-item.last-inshow:after {
	display: none;
}
.reviews-slider-item__content {
	display: block;
	position: relative;
	background-color: white;
	color: black;
	box-sizing: border-box;
	padding: 55px;
}
.reviews-slider-item__name-top {
	display: block;
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    background-color: #FF7628;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    padding: 22px 0px;
}
.reviews-slider-item__name {
	display: block;
	position: relative;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	margin-top: 10px;
	text-align: center;
}
.reviews-slider-item__rating {
	display: block;
    position: relative;
    text-align: center;
    margin-top: 24px;
}
.reviews-slider-item__rating .rating-star {
	display: inline-block;
	position: relative;
	margin-right: 5px;
}
.reviews-slider-item__rating .rating-star:last-child {
	margin-right: 0;
}
.reviews-slider-item__description {
	display: block;
    position: relative;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.reviews-slider .slick-prev,
.reviews-slider .slick-next {
	display: block;
    position: absolute;
    border: 0;
    background-color: transparent;
    top: 50%;
	cursor: pointer;
	z-index: 2;
}
.reviews-slider .slick-prev {
	left: -56px;
}
.reviews-slider .slick-next {
	right: -56px;
	left: initial;
}

/* .corp-abonement__front-list {
	width: 100%;
	font-size: 8pt;
    line-height: 9pt;
    text-transform: uppercase;
} */
.corp-abonement__front-list {
	width: 100%;
	font-size: 9.5pt;
    line-height: 11.1pt;
    /*text-transform: uppercase;*/
}
.corp-abonement__front-list-item {
	margin-bottom: 6px;
	box-sizing: border-box;
	padding-left: 30px;
	background-image: url(img/checkbox.svg);
	background-position: 0px 0px;
    background-repeat: no-repeat;
	background-size: 13px 13px;
}
.corp-abonement__front-list-item:last-child {
	margin-bottom: 0;
}

@media only screen and (max-width: 1560px) {
	.reviews-slider-item__rating .rating-star {
		margin-right: 0;
	}
}
@media only screen and (max-width: 1424px) {
	.reviews-slider-item__content {
		padding: 25px 30px 50px;
	}
	.reviews-slider-item__name {
		margin-top: 30px;
	}
	.reviews-slider .slick-prev {
		left: 18px;
	}
	.reviews-slider .slick-next {
		right: 18px;
	}
	.reviews-slider-item:after {
		display: none;
	}
}

div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

.club__team-slide-front--subscription {
	padding: 0!important;
}


/*LOADING*/
.escapingBallG-animation{
	position: relative;
	width: 125px;
	height: 43px;
	/* margin: auto; */
	display: none;
	margin: -42px auto 0;
	opacity:0;
	transition: opacity 0.3s;
	z-index:2;
}

.escapingBallG-animation.active{
	display: block;
	opacity: 1;

}

.escapingBallG{
	background-color: #FC6120;
	position:absolute;
	top:0;
	left:0;
	width:30px;
	height:30px;
	border-radius:21px;
	-o-border-radius:21px;
	-ms-border-radius:21px;
	-webkit-border-radius:21px;
	-moz-border-radius:21px;
	animation-name:bounce_escapingBallG;
	-o-animation-name:bounce_escapingBallG;
	-ms-animation-name:bounce_escapingBallG;
	-webkit-animation-name:bounce_escapingBallG;
	-moz-animation-name:bounce_escapingBallG;
	animation-duration:1.5s;
	-o-animation-duration:1.5s;
	-ms-animation-duration:1.5s;
	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	animation-timing-function:linear;
	-o-animation-timing-function:linear;
	-ms-animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	animation-delay:0s;
	-o-animation-delay:0s;
	-ms-animation-delay:0s;
	-webkit-animation-delay:0s;
	-moz-animation-delay:0s;
	transform:scale(0.5, 1);
	-o-transform:scale(0.5, 1);
	-ms-transform:scale(0.5, 1);
	-webkit-transform:scale(0.5, 1);
	-moz-transform:scale(0.5, 1);
}



@keyframes bounce_escapingBallG{
	0%{
		left:0px;
		transform:scale(0.5, 1);
	}

	25%{
		left:41px;
		transform:scale(1, 0.5);
	}

	50%{
		left:103px;
		transform:scale(0.5, 1);
	}

	75%{
		left:41px;
		transform:scale(1, 0.5);
	}

	100%{
		left:0px;
		transform:scale(0.5, 1);
	}
}

@-o-keyframes bounce_escapingBallG{
	0%{
		left:0px;
		-o-transform:scale(0.5, 1);
	}

	25%{
		left:41px;
		-o-transform:scale(1, 0.5);
	}

	50%{
		left:103px;
		-o-transform:scale(0.5, 1);
	}

	75%{
		left:41px;
		-o-transform:scale(1, 0.5);
	}

	100%{
		left:0px;
		-o-transform:scale(0.5, 1);
	}
}

@-ms-keyframes bounce_escapingBallG{
	0%{
		left:0px;
		-ms-transform:scale(0.5, 1);
	}

	25%{
		left:41px;
		-ms-transform:scale(1, 0.5);
	}

	50%{
		left:103px;
		-ms-transform:scale(0.5, 1);
	}

	75%{
		left:41px;
		-ms-transform:scale(1, 0.5);
	}

	100%{
		left:0px;
		-ms-transform:scale(0.5, 1);
	}
}

@-webkit-keyframes bounce_escapingBallG{
	0%{
		left:0px;
		-webkit-transform:scale(0.5, 1);
	}

	25%{
		left:41px;
		-webkit-transform:scale(1, 0.5);
	}

	50%{
		left:103px;
		-webkit-transform:scale(0.5, 1);
	}

	75%{
		left:41px;
		-webkit-transform:scale(1, 0.5);
	}

	100%{
		left:0px;
		-webkit-transform:scale(0.5, 1);
	}
}

@-moz-keyframes bounce_escapingBallG{
	0%{
		left:0px;
		-moz-transform:scale(0.5, 1);
	}

	25%{
		left:41px;
		-moz-transform:scale(1, 0.5);
	}

	50%{
		left:103px;
		-moz-transform:scale(0.5, 1);
	}

	75%{
		left:41px;
		-moz-transform:scale(1, 0.5);
	}

	100%{
		left:0px;
		-moz-transform:scale(0.5, 1);
	}
}
/*LOADING*/


/*ВИДЕО МОБИЛКА*/
.club-video-container{
	height: 80vh;
	width: 100%;
}
.dlg-content {
	max-height: unset!important;
	padding: 10px 5px!important;
	overflow-y: hidden!important;
	background: black!important;
}
.dlg-modal{
	top:50%!important;
}
.dlg-header{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dlg-header h3{
	font-family: "Gotham Pro",sans-serif;
	font-size: 20px;
	font-weight: 800;
	color: black;
}
@media screen and (max-width: 768px){
	.dlg-modal {
		min-width: unset!important;
		width: 95%!important;
	}
}