.reviews-slider {
	margin-left: -25px;
    margin-right: -25px;
	z-index: 1;
}
.reviews-slider-item {
	position: relative;
	box-sizing: border-box;
	padding: 40px 25px 0px;
}
.reviews-slider-item:after {
	content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 120px;
    background-color: #FF7628;
    right: 0;
    top: calc(50% - 40px);
}
.reviews-slider-item.last-inshow:after {
	display: none;
}
.reviews-slider-item__content {
	display: block;
	position: relative;
	background-color: white;
	color: black;
	box-sizing: border-box;
	padding: 55px;
}
.reviews-slider-item__name-top {
	display: block;
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    background-color: #FF7628;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    padding: 22px 0px;
}
.reviews-slider-item__name {
	display: block;
	position: relative;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	margin-top: 10px;
	text-align: center;
}
.reviews-slider-item__rating {
	display: block;
    position: relative;
    text-align: center;
    margin-top: 24px;
}
.reviews-slider-item__rating .rating-star {
	display: inline-block;
	position: relative;
	margin-right: 5px;
}
.reviews-slider-item__rating .rating-star:last-child {
	margin-right: 0;
}
.reviews-slider-item__description {
	display: block;
    position: relative;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.reviews-slider .slick-prev,
.reviews-slider .slick-next {
	display: block;
    position: absolute;
    border: 0;
    background-color: transparent;
    top: 50%;
	cursor: pointer;
	z-index: 2;
}
.reviews-slider .slick-prev {
	left: -56px;
}
.reviews-slider .slick-next {
	right: -56px;
	left: initial;
}

/* .corp-abonement__front-list {
	width: 100%;
	font-size: 8pt;
    line-height: 9pt;
    text-transform: uppercase;
} */
.corp-abonement__front-list {
	width: 100%;
	font-size: 9.5pt;
    line-height: 11.1pt;
    /*text-transform: uppercase;*/
}
.corp-abonement__front-list-item {
	margin-bottom: 6px;
	box-sizing: border-box;
	padding-left: 30px;
	background-image: url(img/checkbox.svg);
	background-position: 0px 0px;
    background-repeat: no-repeat;
	background-size: 13px 13px;
}
.corp-abonement__front-list-item:last-child {
	margin-bottom: 0;
}

@media only screen and (max-width: 1560px) {
	.reviews-slider-item__rating .rating-star {
		margin-right: 0;
	}
}
@media only screen and (max-width: 1424px) {
	.reviews-slider-item__content {
		padding: 25px 30px 50px;
	}
	.reviews-slider-item__name {
		margin-top: 30px;
	}
	.reviews-slider .slick-prev {
		left: 18px;
	}
	.reviews-slider .slick-next {
		right: 18px;
	}
	.reviews-slider-item:after {
		display: none;
	}
}

div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

.club__team-slide-front--subscription {
	padding: 0!important;
}


/*LOADING*/
.b-image-plate-block__text-content-inner .escapingBallG-animation{
	position: relative;
	width: 125px;
	height: 43px;
	/* margin: auto; */
	display: none;
	margin: -42px auto 0;
	opacity:0;
	transition: opacity 0.3s;
	z-index:2;
}

.b-image-plate-block__text-content-inner .escapingBallG-animation.active{
	display: block;
	opacity: 1;
}

.escapingBallG{
	background-color: #FC6120;
	position:absolute;
	top:0;
	left:0;
	width:30px;
	height:30px;
	border-radius:21px;
	-o-border-radius:21px;
	-ms-border-radius:21px;
	-webkit-border-radius:21px;
	-moz-border-radius:21px;
	animation-name:bounce_escapingBallG;
	-o-animation-name:bounce_escapingBallG;
	-ms-animation-name:bounce_escapingBallG;
	-webkit-animation-name:bounce_escapingBallG;
	-moz-animation-name:bounce_escapingBallG;
	animation-duration:1.5s;
	-o-animation-duration:1.5s;
	-ms-animation-duration:1.5s;
	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	animation-timing-function:linear;
	-o-animation-timing-function:linear;
	-ms-animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	animation-delay:0s;
	-o-animation-delay:0s;
	-ms-animation-delay:0s;
	-webkit-animation-delay:0s;
	-moz-animation-delay:0s;
	transform:scale(0.5, 1);
	-o-transform:scale(0.5, 1);
	-ms-transform:scale(0.5, 1);
	-webkit-transform:scale(0.5, 1);
	-moz-transform:scale(0.5, 1);
}




/*LOADING*/


/*ВИДЕО МОБИЛКА*/
.club-video-container{
	height: 80vh;
	width: 100%;
}
.dlg-content {
	max-height: unset!important;
	padding: 10px 5px!important;
	overflow-y: hidden!important;
	background: black!important;
}
.dlg-modal{
	top:50%!important;
}
.dlg-header{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dlg-header h3{
	font-family: "Gotham Pro",sans-serif;
	font-size: 20px;
	font-weight: 800;
	color: black;
}
@media screen and (max-width: 768px){
	.dlg-modal {
		min-width: unset!important;
		width: 95%!important;
	}
}

/*КАК ДОБРАТЬСЯ*/
/*.route-type{*/
/*	display: inline-block;*/
/*	font-weight: 600;*/
/*	margin: 0 20px 20px;*/
/*	cursor: pointer;*/
/*	border-bottom: 2px dotted;*/
/*}*/
/*.route-type:first-child{*/
/*	margin-left:0;*/
/*}*/
/*.route-type:last-child{*/
/*	margin-right: 0;*/
/*}*/
/*.route-type.active {*/
/*	color: #ff6000;*/
/*}*/

/*UTP*/
.club-utp__item-icon {
	width: 50px;
	height: 50px;
	background-size: cover;
	display: inline-block;
	margin: 0 auto;
}
.club-utp__item-title {
	padding: 15px 0px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
}
.club-utp {
	display: flex;
	flex-wrap: wrap;
	/* padding: 50px; */
	margin: 0 40px 0 50px;
	max-width: 600px;
	background-color: #000000c2;
	overflow: hidden;
	opacity: 0;
	transition: all 1s;
	justify-content: center;
	height: min-content;
}
.club-utp__item {
	display: flex;
	text-align: center;
	 flex: 0 0 33.33%;
	 max-width: 33.33%;
	padding: 35px 20px 20px 20px;
	position: relative;
	overflow: hidden;
	opacity: 0;
	transition: 0.5s;
	height: 200px;
	width: 200px;
	flex-direction: column;
}
.club-utp__desc {
	position: absolute;
	top: 0px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 20px 20px;
	background: #ff6000;
	opacity: 0;
	transition: opacity 0.3s;
	font-size: 14px;
	/*text-transform: lowercase;*/
	cursor: default;
}
.club-utp__item:hover .club-utp__desc{
	opacity: 1;
}
.club-utp__btn{
	margin-top:30px;
}

@media screen and (max-width: 1280px){
	.b-screen:after{
		content: none!important;
	}
	.b-screen{
		margin-bottom: 0!important;
	}
	.club-utp{
		padding:30px;
		opacity:1!important;
		width: 100%;
		max-width: unset;
		margin: 0;
	}
	.club-utp__item{
		padding: 15px 15px;
		opacity: 1!important;
		flex:0 0 33.33%;
		width: 33.33%;
		justify-content: center;
	}
	.club-utp__item-icon{
		width: 40px;
		height: 40px;
	}
	.club-utp__desc{
		font-size: 13px;
	}
}
@media screen and (max-width: 480px){
	.club-utp__item{
		flex:0 0 50%;
		width: 50%;
		max-width: 50%;
		height: unset;
	}
	.club-utp{
		padding: 0px;
		margin-top:30px;
	}
	.club-utp__btn{
		width: 100%;
		margin-left: 30px;
		margin-right: 30px;
	}
}


.b-twoside-card__footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* transform: scale(-1, 1); */
	background: black;
	/* margin-top: 50px; */
	padding: 50px 20px;
}
.b-twoside-card__prices-button{
	padding:20px 60px!important;
}
@media screen and (max-width: 768px){
	.b-twoside-card__inner {
		margin: 0 8px!important;
	}
	.b-twoside-card__footer {
		margin: 0 8px!important;
		padding:30px 0;
	}
	.choose-abonement-btn{
		width: 100%;
		margin: 0 8px!important;
	}
}

/*как добраться*/
.b-map__route.fancybox-content{
	width: 1000px!important;
	background: black;
	color: white!important;
}
.fancybox-content .fancybox-button{
	color:white!important;
}
.b-map__route-tab-links {
	display: flex;
}
.b-map__route-tab-link {
	/*width: 33.333333%;*/
	/* text-align: center; */
	/* padding: 30px 0; */
	font-weight: 700;
	font-size: 14px;
	line-height: 1;
	letter-spacing: .02em;
	text-transform: uppercase;
	border: solid #ff7628;
	padding: 22px 30px;
	border-width: 2px 0 0 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}
.b-map__route-tab-link:first-child{
	border-left: none;
}
.b-map__route-tab-link.active{
	background-color: #ff7628;
}
.b-map__route-mapiframe {
	width: 300px;
	height: 300px;
	display: inline-block;
}
.b-map__route-body {
	padding: 50px 0;
}
.b-map__route-tab-desc {
	width: calc(100% - 310px);
	display: inline-block;
	vertical-align: top;
	padding-right: 30px;

}
.b-map__mapiframe-info {
	font-size: 15px;
	margin: 10px 0;
}
.b-map__mapiframe-icon {
	width: 10px;
	height: 14px;
	display: inline-block;
}
.b-map__mapiframe-icon svg{
	height: 100%;
}
.b-map__route-tabitem-desc{
	display: none;
	font-weight: 400;
	font-size: 16px;
}
.b-map__route-tabitem-desc.active{
	display:block;
}
.b-map__route-tabitem-desc b{
	font-weight: 600;
}

@media screen and (max-width: 968px){
	.b-map__route-tab-links {
		flex-direction: column;
	}
	.b-map__route-tab-link{
		width: 100% !important;
	}
	.b-map__route-tab-link{
		border-width: 0 2px 2px 2px!important;
	}
	.b-map__route-tab-link:last-child{
		border-bottom-width: 2px!important;
	}
	.li.b-map__route-tab-link.active{
		background: none;
	}
	.b-map__route-tabitem-desc.is-hide-desktop {
		padding: 20px;
		border: 2px solid #ff7628;
	}
	.b-map__route-tab-link:first-child{
		border-left: 2px solid #ff7628!important;
		border-top: 2px solid #ff7628!important;
	}
	.b-map__route-mapiframe {
		width: 100%;
		margin: 20px 0;
	}
	.b-map__mapiframe-info {
		font-size: 13px;
	}
}
/*КАК ДОБРАТЬСЯ*/