

[data-code="UF_ACTIVE_PROMOCODE"]{
    color:#ff7628!important;
    font-weight: 800 !important;
}

.loyaltyhistory{
    padding: 20px 0;
}

.loyaltyhistory-controls__item {
    padding: 5px 20px;
    background: #00000096;
    cursor: pointer;
    font-size: 15px;
}
.loyaltyhistory-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.loyaltyhistory-controls__item:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.loyaltyhistory-controls__item:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.loyaltyhistory-controls__item.active {
    background: #fc6120;
}
.lyaltyhistory-list__item {
    /* padding: 10px 0; */
    border-bottom: 3px solid #fc61206b;
}
.lyaltyhistory-list__item:last-child {
    /* padding: 10px 0; */
    border-bottom: none;
}
.loyaltyhistory-basis {
    display: flex;
    flex-direction: row;
    text-transform: lowercase;
    align-items: center;
    justify-content: space-between;
    /* line-height: 10px; */
}
.loyaltyhistory-diff {
    /*margin-left: 15px;*/
    color: #25ff25;
    font-weight: 600;
}
.loyaltyhistory-diff.minus {
    color: red;
}
.loyaltyhistory-date {
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: row; */
    font-size: 15px;
    font-style: italic;
    color: white;
}
.loyaltyhistory-date-value {
    margin-left: 15px;
}
.loyaltyhistory-index-column {
    width: 250px;
    border-right: 1px solid #fc612042;
    padding: 10px 10px 10px 0;
    font-weight: 500;
}
img.loyalty-extra {
    width: 25px;
    height: 25px;
}
.loyaltyhistory-index-column.extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fc6120;
    text-transform: uppercase;
}
.loyaltyhistory-list {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}
.loyaltyhistory-list::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    cursor: default;
}
.loyaltyhistory-list::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
    cursor: default;
}
.loyaltyhistory-list::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #FC6120;
    cursor: default;
}
@media screen and (max-width: 478px){
    .loyaltyhistory-index-column{
        width: 200px;
    }
}