.quality__questionary .subscription__aside-form-row {
    margin-top: 10px;
}
.quality__questionary .input--checkbox.checked:before {
    background-color: #fff;
}
.subscription__aside-form .input--checkbox input {
    height: auto;
}
.subscription__title-success {
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}
/*.b-page__heading_absolute {*/
/*    max-width: 1200px;*/
/*}*/
.b-info-slider__title {
    font-size: 40px;
}

.b-page__main .training__aside {
	border: 1px solid #fff;
	background-color: transparent;
	overflow: hidden;
}

/* .checkbox-pre-style .input--checkbox {
	opacity: 1;
    position: relative;
} */


/* костыль стилей для чекбокса до подгрузки js стилизации start */
.checkbox-pre-style input.input--checkbox {
    position: relative;
}

.checkbox-pre-style input.input--checkbox::after {
	content: '';
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #fff;
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    z-index: 2;
}



.checkbox-pre-style input.input--checkbox:checked::after {
    background-color: #ff7628;
}

.checkbox-pre-style .jq-checkbox input.input--checkbox::after {
    z-index: -2;
    height: 0;
    width: 0;
    overflow: hidden;
    border: 0;
    position: static;
}

/* костыль стилей для чекбокса до подгрузки js стилизации end */

.b-page__main .subscription__total-btn{
	padding: 20px 60px;
    font-size: 13px;
    color: currentColor;
    background-color: transparent;
    border: 1px solid #ff7628;
	border-radius: 0;
}
.b-page__main .subscription__total-btn:hover {
	color: #fff;
    background-color: #f45900;
    text-decoration: none;
}
.b-page__main .subscription__total-btn:after {
	display: none;
}

.subscription__code,
.subscription__code:hover {
	color: #fff
}
.subscription__code:hover {
	text-decoration: underline;
}


/* v2 */
.b-image-plate-block__text-content {
    /* min-height: 600px; */
}
#bx-panel {
    z-index: 1001 !important;
}

form .input--num {
    font-size: 30px;
}

.b-header__mobile-clubs .b-club-search__input {
    font-size: 13px;
    padding: 9px 30px 5px 5px;
}

.training__aside-form_v2 input.form-standart__input:-webkit-autofill,
.training__aside-form_v2 input.form-standart__input:-webkit-autofill:hover, 
.training__aside-form_v2 input.form-standart__input:-webkit-autofill:focus {
    border-bottom: 2px solid;
    border-color: #fff;
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
}

.popup__window,
.popup.popup--message .popup__window {
    width: 1400px;
    max-width: 100%;
    color: #000;
}
.popup .popup__close {
    border: 0;
}
.popup .popup__close:hover {
    background-color: transparent;
}


.form-standart_tpl-ver .form-standart__agreements, 
.form-standart_tpl-two-col .form-standart__agreements {
    margin-bottom: 10px;
}


.modalForm.popup {
	color: #000;
	z-index: 999999;
}
.modalForm  .subscription__total-btn,
.popup__btn[type='submit']  {
	padding: 20px 60px;
    font-size: 13px;
    color: currentColor;
    background-color: transparent;
    border: 1px solid #ff7628;
	display: inline-block;
    vertical-align: middle;
    font-family: "Gotham Pro",sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .15s ease 0s,color .15s ease 0s,border-color .15s ease 0s;
    cursor: pointer;
    overflow: hidden;
	border-radius: 0;
	display: block;
}

.modalForm .form-standart {
    padding-bottom: 20px;
}
.modalForm .form-standart__plate,
.popup__window .form-standart__plate {
	padding: 0;
}

.modalForm  .subscription__total-btn:after,
.modalForm  .subscription__total-btn:hover:after {
	display: none;
}
.modalForm  .subscription__total-btn:hover,
.modalForm  .subscription__total-btn:focus {
	color: #fff;
    background-color: #f45900;
    text-decoration: none;
}
.modalForm .subscription__code_v2, .subscription__code_v2:hover,
.modalForm .promocode_info,
.modalForm .input-label__text a,
.modalForm .subscription__sent {
	color: #000;
}

.modalForm .form-standart .popup {
	width: 100%;
	height: 100%;
}

.modalForm .subscription__aside {
	height: auto;
	background-color: transparent;
    margin: -70px auto 0 auto;
}
.modalForm .subscription {
	flex-direction: column;
	padding: 0;
    background-color: transparent;
}
.modalForm .subscription__info {
	margin-top: 0;
	padding-top: 10px;
}
.modalForm .popup__window--modal-form {
    max-width: 800px;
    /* align-items: center; */
}


.modalForm .popup__window--modal-form.scroll {
	overflow: auto;
    max-height: 90%;
}
.modalForm .popup__window--modal-form.scroll .popup__wrapper-form {
    height: 100%;
}

.modalForm .popup__window--modal-form.scroll.is-info {
    overflow: initial;
}

.modalForm .popup__window--modal-form.is-info .popup__wrapper-form{
    height: 100%;
    overflow: hidden;
}

.modalForm .form-standart__agreements,
.modalForm .subscription__aside,
.modalForm .subscription__aside-form_v2,
.modalForm .subscription__aside-form_trial_v2 {
	margin-bottom: 0;
}

.modalForm .form-standart_tpl-ver .form-standart__fields-list {
	margin-bottom: 20px;
}

.modalForm .subscription__total-value-old span,
.modalForm .subscription__total-value-old i {
	opacity: .4;
}
.modalForm .subscription__promo-btn_v2 {
	position: absolute;
    right: 0;
    top: 22px;
    border: none;
    background-color: transparent;
    opacity: .7;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.modalForm .subscription__promo {
    left: 0;
}

.modalForm .subscription__code_v2, 
.modalForm .subscription__code_v2:hover {
    color: #000;
}

.modalForm .subscription__code_v2 {
    display: table;
    margin: 0 auto 50px;
    opacity: .7;
    font-size: 12px;
    font-weight: 500;
}
.modalForm .subscription__ready, 
.modalForm .subscription__info,
.modalForm .subscription__main {
    margin-bottom: 0;
}
.modalForm .subscription__main {
    width: 100%;
}


.subscription__main  {
    color: #000;
}
.subscription .subscription__aside-form input,
.subscription .subscription__aside-form .select2-selection,
.subscription .subscription__aside-form select,
.subscription .subscription__aside-form textarea {
    border-bottom-color: #ffaf7f;
    font-family: Gotham, sans-serif;
    font-size: 18px;
}
.subscription .subscription__aside-form .subscription__total-btn {
    border-color: #fff;
}
.subscription .subscription__aside-form input::placeholder,
.subscription .subscription__aside-form textarea::placeholder,
.training__aside-form input::placeholder,
.training__aside-form textarea::placeholder {
    color: #fff;
}
.subscription__aside .subscription__aside-form .input--checkbox.checked:before {
    background-color: #fff;
}

.subscription__aside .subscription__total-value-old span {
    white-space: nowrap;
}

.subscription__aside .subscription__promo-btn {
    color: #fff;
}

.subscription__aside .subscription__promo-btn:hover {
    color: #ffaf7f;
}
.subscription__aside .input-label__text a {
    text-decoration: underline;
}
.subscription__aside .input-label__text a:hover {
    color: #ffaf7f;
}


.subscription__aside .subscription__total-text {
    color: #fff;
}
.subscription__aside .subscription__total .subscription__total-text {
    color: #fff;
}



.popup.popup--legal-information .input--checkbox.checked:before {
    background-color: #ff7628;
}

.popup.popup--legal-information .subscription__total-btn--legal-information {
    border: 1px solid #ff7628;
}

.subscription .subscription__aside {
    height: auto;
}


.abonement-detail .b-screen.b-screen_with-page-heading{
    margin-bottom: 0;
}
.abonement-detail .club__slider-item {
    height: 650px;
}
.abonement-detail .abonement-additional-block {
    color: #000;
}
.abonement-detail .subscription__aside {
    margin-top: 0;
}
@media screen and (max-width: 1260px), screen and (min-aspect-ratio: 76 / 35) and (min-width: 1260px) {
    .abonement-detail .club__slider-item {
        height: 400px;
    }
}

/* --- */
.b-screen.b-screen_short {
	min-height: 130px;
    margin-bottom: 10px;
}
.b-page__heading-simple {
    display: block;
    width: 100%;
    height: auto;
    max-width: initial;
    margin: auto;
    padding: 0;
}
.b-page__heading-simple .b-page__heading-inner {
	padding: 0;
}
.main-clubs__title {
	display: block;
    position: relative;
    margin: 0px 0px 20px;
    box-sizing: border-box;
    padding-left: 0;
}
.main-clubs__title .club__subheading {
	text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}
.b-map_page.b-map_page-main {
	margin-bottom: 50px;
	position: relative;
}
.b-map_page.b-map_page-main .b-map__info-plate {
	padding-top: 40px;
}
.b-map_page.b-map_page-main .b-map__map {
	height: 700px;
}
.b-map_page .b-map__map{
    height: 1000px;
}
.b-map_page.b-map_page-main .b-map__info-plate:after,
/*.b-map_page.b-map_page-main .b-map__switch-holder,*/
.b-map__info-plate.hidden {
	display: none !important;
}
.b-map_page .b-map__contact-item:last-child {
	margin-bottom: 0;
}
.b-map_page.b-map_page-main .b-map__contacts {
	margin-bottom: 30px;
}
.b-map_page.b-map_page-main .b-map__buttons {
	padding: 0;
}
.b-map_page.b-map_page-main .b-map__info-title {
	font-size: 32px;
    margin-bottom: 20px;
}
.content-center.map-title {
	margin-top: -30px;
}
.content-center.map-title .b-cards-slider__title {
	margin-bottom: 0;
}
.b-map_page.margin-top {
	margin-top: 80px;
}
.b-map.b-map_page{
    max-height: 1000px;
}
@media screen and (max-width: 1440px) {
	.main-clubs__title {
    	padding-left: 75px;
	}
	.main-clubs__title .club__subheading {
		padding-left: 0;
	}
}
@media screen and (max-width: 1260px) {
	.main-clubs__title {
    	padding-left: 0;
	}
	.main-clubs__title {
    	padding-left: 50px;
	}
}
@media screen and (max-width: 1024px) {
	/*.b-map_page.b-map_page-main {
		padding-top: 0;
	}*/
	.b-map_page .b-map__map,
	.b-map_page .b-map__info {
		height: 360px !important;
	}
	.b-map_page.b-map_page-main .b-map__map,
	.b-map_page.b-map_page-main .b-map__info {
		height: 450px;
	}
	.b-map_page .b-map__info {
    	min-height: initial;
    	padding: 20px 10px 20px 10px;
	}
	.b-map_page.b-map_page-main {
		padding-top: 60px;
	}
	.b-map_page {
		padding-top: 80px;
	}
	.b-map_page .b-map__map,
	.b-map__info {
    	height: calc(100vh - 450px);
    	min-height: 200px;
	}
	.b-map_page.b-map_page-main .b-map__info-title {
		font-size: 18px;
    	margin-bottom: 20px;
	}
	.b-map_page .b-map__info-title {
		margin-bottom: 20px !important;
	}
	.content-center.map-title .b-cards-slider__heading {
		margin-bottom: 10px;
	}
	.b-map_page.margin-top {
		margin-top: 0;
	}
}
/* --- */

.b-footer__block-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}
.h2 {
    margin-bottom: 52px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-80{
    margin-top:80px;
}
.b-twoside-card__footnote {
    height: 23px;
    overflow: hidden;
}
.b-map_page .b-map__map {
     height: 1000px;
}

.training__aside .training__aside-title {
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.training__aside-form .input--checkbox-club {
    min-width: 20px;
    min-height: 20px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 0;
}
.training__aside-form .input--checkbox-club::before {
    opacity: 1 !important;
    width: 16px !important;
    height: 16px !important;
    top: 2px !important;
    left: 2px !important;
}

/* media */
@media screen and (max-width: 1024px) {
    .h2 {
        margin-bottom: 45px;
        font-size: 36px;
    }
}
@media(max-width: 799px){
    .modalForm .popup__window--modal-form {
        max-width: 100%;
    }
    .b-page__title {
        text-overflow: initial;
        white-space: initial;
    }

    .popup__window .form-standart__plate {
        margin-bottom: 200px;
    }
}
@media screen and (max-width: 400px) {
    .h2 {
        font-size: 9vw;
    }
    
}


.ui-widget.ui-widget-content {
    z-index: 1001;
    border: none;
}

.ui-widget-content {
    color: #fff;
    background: transparent;
}

.ui-menu .ui-menu-item {
    margin: 0;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(0,0,0,0.7);
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}


main.b-page__main {
    min-height: calc(100vh - 143px - 133px - 110px);
}

@media (max-width: 1024px) {
    main.b-page__main {
        min-height: calc(100vh - 233px);
    }
}


.b-top-menu.is-menu-opened a.b-top-menu__btn.button-outline.is-hide-desktop.js-form-abonement {
    display: block;
    margin-bottom: 200px;
}

.b-map__route img {
	display: block;
    position: relative;
    max-width: 100%;
    margin-top: 20px;
}
.b-video-block {
	display: block;
    position: relative;
	margin: 50px 0px;
}
.b-video-block .content-center {
	text-align: center;
}
.b-video-block iframe {
	display: block;
	position: relative;
	width: 100%;
	height: 650px;
}

.opros .b-page__title,
.b-page__heading-simple .b-page__title {
	margin-bottom: 30px;
}

/* Программа лояльности */
.b-page__main.loyality {
	background-color: #121212;
	background-image: url(/images/loyality/background.jpg);
	background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
	position: relative;
}
.b-page__main.loyality:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: url(/images/loyality/bottom.jpg);
	background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 100%;
    height: 850px;
	z-index: 1;
}
.b-page__main.loyality .content-center {
	position: relative;
	z-index: 2;
}
.b-page__main.loyality .b-screen_short {
	min-height: 50px;
	padding-top: 50px;
}
.b-page__main.loyality  .b-screen:after {
	display: none;
}
.loyality-top,
.loyality-top h1,
.loyality-top-levels__description,
.loyality-top-description,
.loyality-top-levels,
.loyality-levels,
.loyality-levels-item,
.loyality-levels-item__title,
.loyality-levels-item__image,
.loyality-levels-item__description,
.loyality-levels-item__button ,
.loyality-levels-item__button .description,
.loyality-levels-item__button .button-wrapper,
.loyality-levels-item__content,
.loyality-steps-item,
.loyality-steps-item__title,
.loyality-steps-item__description,
.loyality-steps-item__description ul,
.loyality-steps-item__description ul > li,
.loyality-steps-item__warning,
.loyality-warning,
.loyality-bonus,
.loyality-bonus-title,
.loyality-bonus-description,
.loyality-bonus-table ul > li,
.loyality-bonus-table ul,
.loyality-bonus-table__title,
.loyality-bonus-table__blocks,
.loyality-bonus-table__blocks-item,
.loyality-steps-item__wrapper,
.loyality-bonus-button {
	display: block;
    position: relative;
}
.loyality-top-levels__title,
.loyality-bonus-title {
	font-size: 32pt;
}
.loyality-warning-title,
.loyality-steps-item__title,
.loyality-bonus-description,
.loyality-bonus-table__title {
	font-size: 16pt;
}
.loyality-warning-description,
.loyality-steps-item__description,
.loyality-bonus-table {
	font-size: 12pt;
}
.loyality-bonus-table .table > span .title,
.loyality-levels-item__bonus > span:nth-child(2) {
	font-size: 10pt;
	line-height: 12pt;
}
.loyality-top {
    margin: 45px 0px 100px;
    width: 65%;
    box-sizing: border-box;
    padding-right: 70px;
}
.loyality-top h1 {
    font-weight: 550;
    font-size: 54pt;
    line-height: 58pt;
    letter-spacing: 0.05em;
    margin-bottom: 52px;
    text-transform: uppercase;
}
.loyality-top h1 > span,
.loyality-top-levels__title > span,
.loyality-levels-item__title > span,
.loyality-bonus-table .title > span {
	color: #fc6120;
}
.loyality-top-levels__description,
.loyality-top-description {
	font-size: 20px;
	line-height: 28px;
}
.loyality-top-levels {
	margin-top: 100px;
}
.loyality-top-levels__title {
	font-weight: 550;
    line-height: 32pt;
}
.loyality-top-levels__description {
	margin-top: 40px;
}
.loyality-top:before,
.loyality-top:after {
	content: "";
	display: block;
    position: absolute;
    background-color: #f45e20;
}
.loyality-top:before {
	width: 430px;
    height: 1px;
    bottom: -10px;
    right: -215px;
}
.loyality-top:after {
	width: 1px;
    height: 430px;
    bottom: -70px;
    right: 0;
}
.loyality .b-breadcrumbs__link.is-current,
.loyality .b-breadcrumbs__link.is-current:hover {
	color: #FC6120;
}
.loyality-levels {
	display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 95px;
}
.loyality-levels-item img {
	display: block;
	position: relative;
	max-width: 100%;
}
.loyality-levels-item__title {
	font-size: 21pt;
    font-weight: 550;
    line-height: 23pt;
    text-align: center;
	margin-bottom: 32px;
}
.loyality-levels-item__content {
	margin-top: 27px;
	padding-bottom: 16px;
}
.loyality-levels-item__content:before {
	content: "";
	display: block;
    position: absolute;
	width: 1px;
	height: 100%;
	top: 0px;
	right: -16px;
	background: #FC6120;
}
.loyality-levels-item:last-child .loyality-levels-item__content:before {
	display: none;
}
.loyality-levels-item__description,
.loyality-levels-item__description a {
	font-size: 14pt;
    line-height: 20pt;
    text-align: center;
    margin-bottom: 12px;
	color: #FFF;
}
.loyality-levels-item__bonus {
	display: table;
    position: relative;
    width: 100%;
    table-layout: fixed;
    color: #FC6120;
	margin-top: 20px;
}
.loyality-levels-item__bonus > span {
	display: table-cell;
	position: relative;
	vertical-align: bottom;
	box-sizing: border-box;
}
.loyality-levels-item__bonus > span:nth-child(1) {
	font-size: 38pt;
    font-weight: 550;
    line-height: 32pt;
    text-align: right;
    padding-right: 10px;
}
.loyality-levels-item__button .description {
	margin: 16px 0px 20px;
	text-align: center;
}
.loyality-levels-item__button .description,
.loyality-levels-item__button .description a {
	font-size: 11pt;
    line-height: 11pt;
	color: #FFF;
}
.loyality-levels-item__button .description a:hover,
.loyality-levels-item__description a:hover {
	text-decoration: underline;
}
.loyality-levels-item__button .button-wrapper {
	text-align: center;
}
.loyality-levels-item__button .btn,
.loyality-bonus-button .btn {
	border-radius: 0;
    color: #FFF;
    padding: 12px 60px;
    font-size: 13px;
}
.loyality-steps {
	display: grid;
    grid-gap: 36px;
    grid-template-columns: 1fr 1fr 1fr;
	margin: 126px 0px 96px;
}
.loyality-steps-item {
	display: flex;
    position: relative;
	height: 100%;
    flex-direction: column;
    border: 1px solid #FC6120;
	background-color: #000;
    box-sizing: border-box;
    padding: 100px 32px 46px;
}
.loyality-steps-item__icon {
	display: flex;
    position: absolute;
    width: 120px;
    height: 120px;
	align-items: center;
	justify-content: center;
    top: -60px;
    left: calc(50% - 60px);
    background-color: #FC6120;
}
.loyality-steps-item__title {
    font-weight: bold;
    line-height: 18pt;
    text-align: center;
    margin-bottom: 45px;
}
.loyality-steps-item__description {
    line-height: 16pt;
}
.loyality-steps-item__description ul,
.loyality-bonus-table ul {
	list-style: none;
}
.loyality-steps-item__description ul > li,
.loyality-bonus-table ul > li {
	box-sizing: border-box;
	padding-left: 24px;
	margin-bottom: 24px;
    background-image: url(/local/templates/spiritfit-v2/components/bitrix/news.list/abonements.main/img/checkbox.svg);
    background-position: 0px 2px;
    background-repeat: no-repeat;
}
/*.loyality-steps-item__description ul > li:before,
.loyality-bonus-table ul > li:before {
	content: "";
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: #FC6120;
	border-radius: 50%;
	top: 8px;
	left: 0px;
}*/
.loyality-steps-item__description ul > li:last-child,
.loyality-bonus-table ul > li:last-child {
	margin-bottom: 0;
}
.loyality-steps-item__warning {
	color: #FC6120;
	margin-top: 30px;
	text-align: center;
	font-size: 21pt;
    font-weight: 550;
    line-height: 23pt;
}
.loyality-steps-item__button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.loyality-steps-item__button .btn {
	border-radius: 0;
    color: #FFF;
    padding: 12px 40px;
    font-size: 13px;
    background-color: #FC6120;
}
.loyality-warning {
	border-top: 1px solid #FC6120;
	border-bottom: 1px solid #FC6120;
	margin: 96px 0px 64px;
	padding: 24px 0px;
}
.loyality-warning-title,
.loyality-warning-description {
	display: inline-block;
	position: relative;
	margin-right: 46px;
}
.loyality-warning-description:last-child {
	margin-right: 0;
}
.loyality-warning-title {
	font-weight: bold;
    line-height: 18pt;
}
.loyality-warning-description {
    line-height: 16pt;
}
.loyality-warning-description > a {
	text-decoration: underline;
}
.loyality-bonus {
	margin: 65px 0px 0px;
	padding-bottom: 150px;
}
.loyality-bonus-title {
	line-height: 32pt;
	margin-bottom: 40px;
}
.loyality-bonus-description {
	line-height: 16pt;
	margin: 40px 0px 40px;
	max-width: 610px;
}
.loyality-bonus-table {
	display: flex;
    position: relative;
    flex-direction: row;
    gap: 80px;
    line-height: 16pt;
}
.loyality-bonus-table .table-cell {
	position: relative;
    width: 33%;
	padding: 30px 0px 20px;
}
.loyality-bonus-table .table-cell:after {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: #FC6120;
	right: -40px;
	top: 0px;
}
.loyality-bonus-table .table-cell:last-child:after {
	display: none;
}
.loyality-bonus-table__title {
	font-weight: bold;
	line-height: 18pt;
	margin-bottom: 45px;
}
.loyality-bonus-table .title {
	display: block;
	position: relative;
	font-weight: bold;
}
.loyality-bonus-table .table {
	display: flex;
    position: relative;
    flex-direction: row;
	gap: 20px;
	margin-top: 16px;
}
.loyality-bonus-table .table > span {
	position: relative;
	font-weight: bold;
	color: #FC6120;
	width: 33%;
}
.loyality-bonus-table .table > span .title {
	color: #FFF;
}
.loyality-bonus-table__blocks {
	margin-top: 25px;
}
.loyality-bonus-table__blocks-item {
	font-weight: bold;
	margin-bottom: 25px;
}
.loyality-bonus-table__blocks-item:last-child {
	margin-bottom: 0;
}
.loyality-bonus-table__blocks-item > div {
	position: relative;
}
.loyality-bonus-table__blocks-item > div:nth-child(1) {
	margin-bottom: 4px;
}
.loyality-bonus-table__blocks-item > div:nth-child(2) {
	position: relative;
	color: #FC6120;
	font-size: 38pt;
	font-weight: 550;
	line-height: 32pt;
}
.loyality-bonus-table__blocks-item > div:nth-child(2) > span {
	font-size: 26pt;
	line-height: 26pt;
}
.loyality-bonus-button {
    text-align: center;
    margin-top: 150px;
}
@media screen and (max-width: 1200px) {
	.loyality-top {
		width: 100%;
	}
	.loyality-top h1 {
		font-size: 38pt;
		line-height: 38pt;
	}
	.loyality-warning-title,
	.loyality-steps-item__title,
	.loyality-bonus-description,
	.loyality-bonus-table__title {
		font-size: 14pt;
		line-height: 16pt;
	}
	.loyality-top-levels__description,
	.loyality-top-description {
		font-size: 14pt;
		line-height: 18pt;
	}
	.loyality-top-levels__title,
	.loyality-bonus-title {
		font-size: 26pt;
		line-height: 26pt;
	}
	.loyality-levels-item__description,
	.loyality-levels-item__description a {
		font-size: 13pt;
		line-height: 18pt;
	}
	.loyality-levels-item__bonus > span:nth-child(1),
	.loyality-bonus-table__blocks-item > div:nth-child(2) {
		font-size: 30pt;
    	font-weight: 550;
    	line-height: 25pt;
	}
	.loyality-bonus-table__blocks-item > div:nth-child(2) > span {
		font-size: 20pt;
        line-height: 20pt;
	}
	.loyality-levels {
		grid-template-columns: 1fr 1fr;
	}
	.loyality-levels-item:nth-child(2) .loyality-levels-item__content:before {
		display: none;
	}
	.loyality-top:before {
		right: -15px;
	}
	.loyality-warning-title,
	.loyality-warning-description {
		display: block;
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.loyality-warning-description:last-child {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 1140px) {
	.loyality-bonus-table,
	.loyality-steps {
		display: block;
	}
	.loyality-levels {
		margin-bottom: 100px;
	}
	.loyality-steps {
		margin-top: 100px;
	}
	.loyality-bonus-table .table-cell {
		padding: 0;
		width: 100%;
		margin-right: 2px;
		margin-left: 2px;
	}
	.loyality-bonus-table .table-cell:after {
		display: none;
	}
	.loyality-steps-item {
		margin-right: 2px;
		margin-left: 2px;
		padding: 100px 50px 80px;
	}
	.loyality-steps .b-image-plate-block__arrow--right,
	.loyality-steps .b-image-plate-block__arrow--left,
	.loyality-bonus-table .b-image-plate-block__arrow--right,
	.loyality-bonus-table .b-image-plate-block__arrow--left {
		top: 50%;
		width: 45px;
		border: 1px solid rgba(0, 0, 0, 0);
		border-radius: 0;
	}
	.loyality-steps .b-image-plate-block__arrow--right,
	.loyality-bonus-table .b-image-plate-block__arrow--right {
		right: 0px;
	}
	.loyality-steps .b-image-plate-block__arrow--left,
	.loyality-bonus-table .b-image-plate-block__arrow--left {
		left: 0px;
	}  
	.loyality-steps-item__wrapper {
		padding-top: 50px;
	}
	.loyality-bonus-table__title {
		text-align: center;
		font-size: 18pt;
    	line-height: 20pt;
		margin-bottom: 80px;
	}
	.loyality-bonus-table__title:after {
		content: "";
		display: block;
		position: absolute;
		width: 50%;
		height: 1px;
		background: #FC6120;
		bottom: -25px;
		left: 25%;
	}
}
@media screen and (max-width: 768px) {
	.loyality-levels {
		grid-template-columns: 1fr;
		grid-gap: 50px;
	}
	.loyality-levels-item:after {
		content: "";
		display: block;
		position: absolute;
		width: 50%;
		height: 1px;
		background: #FC6120;
		bottom: -25px;
		left: 25%;
	}
	.loyality-levels-item:last-child:after {
		display: none;
	}
	.loyality-levels-item__content {
		padding-bottom: 0px;
	}
	.loyality-levels-item__content:before {
		display: none;
	}
	.loyality-bonus {
		padding-bottom: 50px;
	}
	.loyality-steps .b-image-plate-block__arrow--right {
		right: 0px;
	}
	.loyality-steps .b-image-plate-block__arrow--left {
		left: 0px;
	}
	.loyality-bonus-table .b-image-plate-block__arrow--right {
		right: -20px;
		background-color: rgb(19 19 19 / 50%);
	}
	.loyality-bonus-table .b-image-plate-block__arrow--left {
		left: -20px;
		background-color: rgb(19 19 19 / 50%);
	}
	.b-page__main.loyality:before {
		background-position: center;
		background-size: cover;
	}
}
@media screen and (max-width: 468px) {
	.loyality-top h1 {
   		font-size: 28pt;
    	line-height: 34pt;
	}
}
/* Программа лояльности */

#map_club .leaflet-layer,
#mapid .leaflet-layer {
	filter: contrast(.7) grayscale(1) invert(1) brightness(0.8);
}
#mapid.map-clubs-detail {
	height: 700px;
}
@media screen and (max-width: 1024px) {
    #mapid.map-clubs-detail {
        height: calc(100vh - 260px);
    }
	.v2-abonement .b-twoside-card__hidden-content {
		padding: 35px 5px 0px;
	}
	.v2-abonement .corp-abonement__front-list {
		height: 270px;
		overflow: auto;
	}
	.v2-abonement .corp-abonement__front-list::-webkit-scrollbar {
		width: 0.5em;
	}
	.v2-abonement .corp-abonement__front-list::-webkit-scrollbar-track {
		background-color: #999;
	}
	.v2-abonement .corp-abonement__front-list::-webkit-scrollbar-thumb {
		background-color: #666;
		outline: 0;
	}
}

@media screen and (max-width: 768px) {
    .quality {
        margin-left: 0;
        padding-top: 0;
    }
    .quality .primary-form {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: 25px 35px 35px;
        border-radius: 0;
    }
	.b-video-block iframe {
		height: 450px;
	}
}
@media screen and (max-width: 650px) {
}
@media screen and (max-width: 450px) {
	.b-video-block iframe {
		height: 300px;
	}
}

/* ==================== */
.profile-quiz-btn {
    background: linear-gradient(90deg, #E43932 3.26%, #7827F6 98.07%);
    border-radius: 8px;
    border-color: transparent;
    padding: 20px 60px;
    transition: all .3s;
    margin-right: 20px;
    text-align: center;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}
.profile-quiz-btn:hover {
    background: linear-gradient(90deg, #E43932 46.26%, #7827F6 98.07%);
}
.open-share-block {
    display: block;
    position: relative;
    text-align: center;
    text-decoration: underline;
    line-height: 28px;
    padding-right: 20px;
}
.share-wrap .share {
    display: block;
    position: absolute;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
    list-style: none;
    z-index: 100;
}
.share-wrap .share li {
    display: block;
    position: relative;
    padding: 10px 0px;
}