.purple-grey a.personal-btn {
    line-height: 18px;
    color: #FFF!important;
}

.purple-grey a.b-top-menu__abonement-btn,
.purple-grey .button-outline:hover,
.purple-grey .button {
    background: linear-gradient(90deg, #E43932 3.26%, #7827F6 98.07%);
    border-radius: 8px;
    border-color: transparent;
    padding: 20px 60px;
    transition: all .3s;
    color: #FFF;
}
.purple-grey .button.disabled {
    background: linear-gradient(90deg, #e439328f 3.26%, #7827f666 98.07%);
}
.purple-grey .button-outline:hover {
    background: linear-gradient(90deg, #E43932 46.26%, #7827F6 98.07%) !important;
}
.b-page__main  {
    color: black;
}
.purple-grey .b-screen:after {
    display: none;
}
.purple-grey .b-breadcrumbs__link.is-current:hover {
    color: initial;
}
.purple-grey main {
    font-size: 24px;
    line-height: 36px;
}
.purple-grey main.b-page__main {
    overflow: hidden;
}
.purple-grey .b-breadcrumbs {
    display: none;
}
.purple-grey .b-screen.b-screen_short {
    min-height: 96px;
    margin-bottom: 10px;
    padding: 0;
}
.purple-grey .b-checkbox__text:before{
    background: linear-gradient(180deg, #E33933 0%, #7A27F2 100%);
    border-radius: 4px;
}
span.b-checkbox__text {
    font-size: 20px;
    line-height: 20px;
}