.spirittv-schedule__day {
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    border: 2px solid #fc6120;
    margin: 20px 0;
}
.day-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    flex: 0 0 20%;
}
.day-name span{
    width: 100%;
    text-align: center;
    background: #fc6120;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
}
.day-schedule {
    padding: 0 30px;
    width: 80%;
    flex: 0 0 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.day-schedule__block {
    padding: 0 50px;
    border-left: 1px solid;
    height: 100%;
}
.day-schedule__block:first-child{
    border-left: none;
}
.day-schedule__block-item {
    margin: 10px 0;
}
span.schedule-item__time {
    font-weight: 600;
}
h1.spirittv-h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #fc6120;
}

@media screen and (max-width: 1200px) {
    .spirittv-schedule__day {
        display: flex;
        flex-direction: column;
    }
    .day-name {
        width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .day-schedule {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 0 0 100%;
        padding: 0;
    }
    .day-schedule__block {
        padding: 0;
        width: 100% !important;
        border: none;
    }
    .day-schedule__block-item {
        margin: 0 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}