body.white {
	background-color: #fff;
}
body.white .theme-selector label {
	color: #fff;
}
body.white .blog-page,
body.white .b-breadcrumbs__link,
body.white .b-breadcrumbs__item:before {
	color: #000;
}
