.promocode-banner__container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /*display: flex;*/
    align-items: center;
    background-color: #000000d4;
    justify-content: center;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    display:none;
}
.promocode-banner {
    width: 400px;
    height: 650px;
    background-repeat: repeat;
    background-size: 250%;
    background-color: white;
    background-position: 50% 50%;
    border-radius: 8px;
    position: relative;
    color: black;
}
.promocode-banner__closer {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: 0.5s;
    cursor: pointer;
    z-index: 1000;
}
.promocode-banner__closer svg{
    width: 100%;
    height: 100%;
}
.promocode-banner__content {
    width: 100%;
    height: 100%;
    padding: 32px;
}
.promocode-banner__closer:hover{
    transform: rotate(180deg);
}
.promocode-content__logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
}
.promocode-content__logo svg{
    width: 100%;
    height: 100%;
}
.promocode-banner__content {
    width: 100%;
    height: 100%;
}
.promocode-content__header {
    height: 50%;
    position: relative;
}
.promocode-content__header {
    font-size: 36px;
    font-weight: 800;
}
.promocode-content__body {
    position: relative;
    height: 50%;
    font-size: 26px;
    font-weight: 700;
}
.promocode-body-container {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -120px;
}
.promocode-content__discount {
    font-size: 60px;
    font-weight: 900;
    background-color: #2AA5A0;
    background-image: linear-gradient(90deg, #7f4790, #ff4f38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.promocode-body-container hr {
    background: linear-gradient(to right, #7f4790, #ff4f38);
    height: 5px;
    margin: 10px 0;
}
.promocode-content__present {
    font-size: 18px;
}
button.promocode-btn {
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #7f4790, #ff5e49);
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 0;
}
@media screen and (max-width: 450px) {
    .promocode-banner{
        width: 100%;
        /*height: 100%;*/
        border-radius: 0;
    }
}
@media screen and (max-width: 360px) {
    button.promocode-btn{
        font-size: 16px;
    }
}