.v2-abonement .b-twoside-card__hidden-content {
	padding-bottom: 120px;
	background-color: #090909;
	padding: 35px 35px 0px;
}
.corp-abonement__front-list {
	width: 100%;
	font-size: 9.5pt;
    line-height: 11.1pt;
    text-transform: uppercase;
}
.corp-abonement__front-list-item {
	margin-bottom: 6px;
	box-sizing: border-box;
	padding-left: 30px;
	background-image: url(img/checkbox.svg);
	background-position: 0px 0px;
    background-repeat: no-repeat;
}
.corp-abonement__front-list-item:last-child {
	margin-bottom: 0;
}
.corp-abonement__back-title {
	width: 100%;
	color: #ff7628;
    font-size: 14pt;
    font-weight: bold;
	margin-bottom: 30px;
    box-sizing: border-box;
	/*text-transform: uppercase;*/
}
.corp-abonement__back-button {
	position: absolute;
    width: 100%;
    left: 0;
    bottom: 57px;
    text-align: center;
}
.corp-abonement__back-button .button {
	display: inline-block;
	min-width: 168px;
	box-sizing: border-box;
    padding: 14px 10px;
    font-size: 10pt;
    line-height: 11pt;
}