.b-cards-slider__arrow.b-cards-slider__arrow--right::before, .b-cards-slider__arrow.b-cards-slider__arrow--right::after {
    background: linear-gradient(45deg, #E43932 3.26%, #7827F6 98.07%);
}
.b-cards-slider__arrow.b-cards-slider__arrow--right::before, .b-cards-slider__arrow.b-cards-slider__arrow--right::after {
    background: linear-gradient(45deg, #E43932 3.26%, #7827F6 98.07%);
}
.b-cards-slider__arrow-wrapper--right {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 100%);
}
.b-cards-slider__arrow-wrapper {
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    width: 100%;
    /* transform: translateY(-50%); */
    z-index: 100;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color .3s;
}
.b-cards-slider__arrow-wrapper--right {
    right: -20px;
    transform: translate(100%, -50%);
    align-items: flex-start;
}

.b-cards-slider__arrow {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}
.b-cards-slider__arrow::before, .b-cards-slider__arrow::after {
    content: '';
    height: 6px;
    width: 30px;
    position: absolute;
}
.b-cards-slider__arrow--right::before {
    transform: rotate(45deg);
    right: 10px;
}
.b-cards-slider__arrow--right::after {
    transform: rotate(-45deg);
    right: 10px;
}
.b-cards-slider__arrow::before {
    top: 10px;
}
.b-cards-slider__arrow::after {
    bottom: 11px;
}

.b-cards-slider__arrow-wrapper--left {
    left: -20px;
    transform: translate(-100%, -50%);
    align-items: flex-end;
}

.b-cards-slider__arrow--left::before {
    transform: rotate(-45deg);
    left: 10px;
}
.b-cards-slider__arrow::before {
    top: 10px;
}
.b-cards-slider__arrow--left::after {
    transform: rotate(45deg);
    left: 10px;
}
.b-cards-slider__arrow::after {
    bottom: 11px;
}
.b-cards-slider__arrow.b-cards-slider__arrow--left::before, .b-cards-slider__arrow.b-cards-slider__arrow--left::after {
    background: linear-gradient(45deg, #E43932 3.26%, #7827F6 98.07%);
}
.b-cards-slider__arrow.b-cards-slider__arrow--left::before, .b-cards-slider__arrow.b-cards-slider__arrow--left::after {
    background: linear-gradient(45deg, #E43932 3.26%, #7827F6 98.07%);
}
.b-cards-slider__arrow--left {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 100%);
}

.slick-disabled{
    display: none!important;
}
.b-cards-slider__arrow.b-cards-slider__arrow--left{
    right: 0;
}

@media screen and (max-width: 1440px) {
    .b-cards-slider__arrow-wrapper--left {
        left: 17px;
        box-shadow: 10px 0px 20px 9px white;
        width: 40px;
        background: white;
    }
    .b-cards-slider__arrow-wrapper--right {
        right: 17px;
        box-shadow: -20px 0px 20px 9px white;
        width: 40px;
        background: white;
    }
}
@media screen and (max-width: 956px) {
    .b-cards-slider__arrow::before, .b-cards-slider__arrow::after {
        content: '';
        height: 3px;
        width: 12px;
        position: absolute;
    }
    .b-cards-slider__arrow::before {
        top: 23px;
    }
    .b-cards-slider__arrow-wrapper--left {
        width: 18px;
        left: -8px;
    }
    .b-cards-slider__arrow.b-cards-slider__arrow--left {
        right: 5px;
        width: 10px;
    }
    .b-cards-slider__arrow-wrapper--right{
        width: 18px;
        right: -8px;
    }

    .b-cards-slider__arrow-wrapper--left {
        box-shadow: 9px 0px 20px 10px white;
        background: white;
        width: 18px;
        right: -30px;
    }
    .b-cards-slider__arrow.b-cards-slider__arrow--left {
        left: 0px;
        width: 10px;
    }

    .b-cards-slider__arrow-wrapper--right {
        box-shadow: -20px 0px 20px 20px white;
        background: white;
        width: 18px;
        right: -30px;
    }
    .b-cards-slider__arrow.b-cards-slider__arrow--right {
        left: -14px;
        width: 10px;
    }
}