.b-cards-slider__arrow.b-cards-slider__arrow--right::before, .b-cards-slider__arrow.b-cards-slider__arrow--right::after {
    background: linear-gradient(45deg, #E43932 3.26%, #7827F6 98.07%);
}
.b-cards-slider__arrow.b-cards-slider__arrow--right::before, .b-cards-slider__arrow.b-cards-slider__arrow--right::after {
    background: linear-gradient(45deg, #E43932 3.26%, #7827F6 98.07%);
}
.b-cards-slider__arrow-wrapper--right {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 100%);
}
.b-cards-slider__arrow-wrapper {
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    width: 100%;
    /* transform: translateY(-50%); */
    z-index: 100;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color .3s;
}
.b-cards-slider__arrow-wrapper--right {
    right: -20px;
    transform: translate(100%, -50%);
    align-items: flex-start;
}

.b-cards-slider__arrow {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}
.b-cards-slider__arrow::before, .b-cards-slider__arrow::after {
    content: '';
    height: 6px;
    width: 30px;
    position: absolute;
}
.b-cards-slider__arrow--right::before {
    transform: rotate(45deg);
    right: 10px;
}
.b-cards-slider__arrow--right::after {
    transform: rotate(-45deg);
    right: 10px;
}
.b-cards-slider__arrow::before {
    top: 10px;
}
.b-cards-slider__arrow::after {
    bottom: 11px;
}

.b-cards-slider__arrow-wrapper--left {
    left: -20px;
    transform: translate(-100%, -50%);
    align-items: flex-end;
}

.b-cards-slider__arrow--left::before {
    transform: rotate(-45deg);
    left: 10px;
}
.b-cards-slider__arrow::before {
    top: 10px;
}
.b-cards-slider__arrow--left::after {
    transform: rotate(45deg);
    left: 10px;
}
.b-cards-slider__arrow::after {
    bottom: 11px;
}
.b-cards-slider__arrow.b-cards-slider__arrow--left::before, .b-cards-slider__arrow.b-cards-slider__arrow--left::after {
    background: linear-gradient(45deg, #E43932 3.26%, #7827F6 98.07%);
}
.b-cards-slider__arrow.b-cards-slider__arrow--left::before, .b-cards-slider__arrow.b-cards-slider__arrow--left::after {
    background: linear-gradient(45deg, #E43932 3.26%, #7827F6 98.07%);
}


.slick-disabled{
    display: none!important;
}
.b-cards-slider__arrow.b-cards-slider__arrow--left{
    right: 0;
}

@media screen and (max-width: 1440px) {
    .b-cards-slider__arrow-wrapper--left {
        left: 40px;
        box-shadow: unset;
        width: 100px;
        background: transparent;
    }
    .b-cards-slider__arrow-wrapper--right {
        right: 40px;
        box-shadow: unset;
        width: 100px;
        background: transparent;
    }
    .b-cards-slider__arrow {
        border-radius: 50%;
        background: #000000c9;
    }
    .b-cards-slider__arrow::before, .b-cards-slider__arrow::after {
        height: 4px;
        width: 19px;
    }
    .b-cards-slider__arrow::before {
        top: 15px;
    }
    .b-cards-slider__arrow::after {
        bottom: 15px;
    }
}
@media screen and (max-width: 956px) {
    .b-cards-slider__arrow-wrapper--left, .b-cards-slider__arrow-wrapper--right{
        box-shadow: unset;
        width: 40px;
        background: transparent;
    }
    .b-cards-slider__arrow::before, .b-cards-slider__arrow::after {
        height: 3px;
        width: 15px;
    }
    .b-cards-slider__arrow {
        border-radius: 50%;
        background: #000000c9;
    }
    .b-cards-slider__arrow::before {
        top: 17px;
    }
    .b-cards-slider__arrow--left::before {
        transform: rotate(-45deg);
        left: 13px;
    }
    .b-cards-slider__arrow::after {
        bottom: 16px;
    }
    .b-cards-slider__arrow--left::after {
        transform: rotate(45deg);
        left: 13px;
    }
    .b-cards-slider__arrow-wrapper--left{
        left: 50px;
    }
    .b-cards-slider__arrow-wrapper--right{
        right: 50px;
    }
    .b-cards-slider__arrow--right::before{
        right: 13px;
    }
    .b-cards-slider__arrow--right::after{
        right: 13px;
    }
}
