.dlg-content {
    background: #171717!important;
    color: white;
}
.dlg-view{
    background: none!important;
}
.dlg-header{
    background: #171717!important;
    color: white!important;
    text-transform: lowercase!important;
    opacity:1!important;
}
.dlg-close-btn{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
@media screen and (max-width: 768px){
    .dlg-modal {
        min-width: 95%!important;
    }
    .dlg-content{
        padding: 10px;
    }
}