
.utp-item__image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.utp-item__text {
    text-align: center;
    padding: 20px 30px;
    background: #F5F5F4;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
a.button.utp {
    padding: 15px 35px;
    margin: 20px;
}
.utp-main__item {
    margin: 20px;
}
.utp-main__items {
    margin: 0 -20px;
}
section.utp-main {
    margin-top: 50px;
}

@media screen and (max-width: 1440px) {
    .utp-main__items .b-cards-slider__arrow-wrapper--left {
        left: 50px;
    }

    .utp-main__items .b-cards-slider__arrow-wrapper--right {
        right: 55px;
    }
    .utp-main__items:hover .b-cards-slider__arrow-wrapper{
        opacity: 1;
    }
    /*.utp-main__items .b-cards-slider__arrow-wrapper{*/
    /*    opacity: 0;*/
    /*    transition:0.3s;*/
    /*}*/

    .utp-main__items .b-cards-slider__arrow.b-cards-slider__arrow--left {
        right: -5px;
    }
}